<script type="text/html" data-recharge-slot="*.sidebar">
  <div class="_15b7gxl0 _18gma4r0">
    <a aria-label="My Rewards" data-testid="recharge-external-my-rewards" data-active="false" class="recharge-navigation-customer" href="https://folqs.refr.cc/join/default" target="_blank">
      <div class="_15b7gxl0 _17o99wpi8 v8i27f1 v8i27f0 v8i27f3">
        <div class="_15b7gxl0 _17o99wpxu _17o99wpyr _17o99wpzl _17o99wpzq _17o99wpwu _17o99wpwz _17o99wp99 _17o99wpa8 recharge-card _17zpf480 _17zpf481">
          <div class="_15b7gxl0 _17o99wpko _17o99wp0 _17o99wpmf _17o99wpic _17o99wpjx _17o99wpl6">
            <span role="heading" aria-level="2" aria-hidden="true" class="_15b7gxl0 recharge-heading recharge-heading-h2 _1brvylo1 _1brvylo0 _1brvylo5 _1brvylo8 _1brvylob">{{ 'general.recharge_customer_portal.sidebar.rewards_link' | t }}</span>
            <div class="_15b7gxl0 _17o99wpkf _17o99wpk9 _17o99wpjr">
              <div class="_15b7gxl0 _17o99wpef">
                <div aria-hidden="true" class="_15b7gxl0 _17o99wpzc _17o99wpwl _17o99wpxi _17o99wpyf _17o99wpno _17o99wpif _17o99wpml _17o99wp0 recharge-icon n89mvw0 n89mvw8">
                  <svg viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                    <path d="m1.5 15 7-7-7-7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</script>