{% liquid
  assign padding_top = block.settings.padding_top
  assign padding_bottom = block.settings.padding_bottom
  assign padding_top_mobile = block.settings.padding_top_mobile
  assign padding_bottom_mobile = block.settings.padding_bottom_mobile
%}

{% render 'block-paddings',
  padding_top: padding_top,
  padding_bottom: padding_bottom,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile
%}

{% stylesheet %}
  .container-icons-block {
    width: 100%;
  }

  .container-icons-block__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
    column-gap: 8px;
  }
{% endstylesheet %}


<div class="container-icons-block__inner block-{{ section.id }}-{{ block.id }}--padding"
          {{ block.shopify_attributes }}>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Container icons",
  "class": "container-icons-block",
  "settings": [
    {
      "type": "header",
      "content": "Block paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 54
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 70
    }
  ],
  "blocks": [{"type": "icon"}],
  "presets": [
    { "name": "Container icons" }
  ]
}
{% endschema %}
