html {
    scroll-behavior: smooth;
  }
  
  .benefits {
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* navigation section */
  .benefits__nav {
    display: flex;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    padding-left: 20px;
    margin-bottom: 24px;
  }
  
  .benefits__nav::-webkit-scrollbar {
    display: none;
  }
  
  .benefits__nav-item {
    margin-right: 0.65em;
    font-weight: 500;
    font-size: 18px;
    color: #C4C4C4;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color .3s ease-in-out;
  }
  
  .benefits__nav-item::after {
    content: '';
    height: 2px;
    background-color: #C4C4C4;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: background-color .3s ease-in-out;
  }
  
  .benefits__nav-item:not(.benefits__nav-item--active):hover {
    color: #004A91;
  }
  .benefits__nav-item:not(.benefits__nav-item--active):hover::after {
    background-color: #004A91;
  }
  
  .benefits__nav-item--active {
    color: #005EB8;
  }
  .benefits__nav-item--active::after {
    background-color: #005EB8; 
  }
  
  .benefits__wrapper {
    padding: 0 20px;
    max-width: 780px;
    margin: 0 auto;
  }
  
  .benefits__item {
    margin-bottom: 60px;
  }
  
  /* Image section */
  .benefits__picture-wrap {
    position: relative;
    margin: 0 0 24px;
  }
  
  .benefits__item-picture {
    aspect-ratio: 4/3;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .benefits__item-picture img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  
  .benefits__picture-badge {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: #005EB8;
    box-shadow: 0px 4px 20px 0px #005EB866;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(8px, 16px);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: inherit;
  }
  
  .benefits__picture-badge__name {
    font-size: 14px;
  }
  
  .benefits__picture-badge__age {
    font-size: 20px;
  }
  
  /* description section */
  
  .benefits__descriptions {
    margin: 0;
  }
  
  .benefits__title {
    font-size: 32px;
    margin-bottom: 0.3em;
    font-family: inherit;
  }
  .benefits__details {
    color: rgba(0, 0, 0, 0.7);
    font-family: inherit;
  }
  .benefits__expectations {
    margin-top: 40px;
    overflow: hidden;
  }
  .benefits__expectations__title {
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 0.3em;
    margin-top: 0;
  }
  .benefits__expectation-list {
    margin: 0;
    padding-left: 38px;
    list-style: none;
  }
  
  .benefits__expectations__item {
    position: relative;
    margin: 18px 0;
  }
  .benefits__expectations__item__marker {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-40px, -50%);
  }
  
  .benefits__more-btn {
    padding: 10px 60px;
    border: 1px solid #005EB8;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none !important;
    min-height: 60px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    background-color: #005EB8;
    transition: all .3s ease-in-out;
  }
  
  .benefits__more-btn:hover {
    box-shadow: 0px 7px 18px 0px #005EB866;
    background-color: #004A91;
    border-color: #004A91;
  }
  
  @media screen and (min-width: 1180px) {
    .benefits {
      display: flex;
    }
  
    .benefits__wrapper {
      padding: 0;
      padding-left: 80px;
      margin: 0;
      max-width: none;
    }


    .benefits__nav {
      flex-direction: column;
      padding: 0;
      max-width: 320px;
      width: 100%;
      position: sticky;
      top: 50px;
      height: min-content;
    }
  
    .benefits__nav-item {
      font-size: 24px;
      margin-bottom: 1.8em;
    }
  
    .benefits__item {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .benefits__picture-wrap {
      margin: 0;
      margin-left: 60px;
    }
  
    .benefits__item-picture {
      aspect-ratio: 10 / 16;
    }
  
    .benefits__picture-badge {
      left: 0;
      right: auto;
      bottom: 14px;
      transform: translate(-50%, 0);
    }
  
    .benefits__title {
      font-size: 40px;
      margin-top: 0;
    }
  }
/*
Old file contents, were asked to be commented
.benefits__items {
    display: flex;
    gap: 54px;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    gap: 69px;
    position: relative;
}

.benefits__icon {
    position: absolute;
    left: -105px;
    bottom: -130px;
    width: 218px;
}

.benefits__item:first-child {
    width: 100%;
    max-width: 436px;
    height: max-content;
}

.benefits__item:last-child {
    width: 100%;
}

.benefits__image {
    border-radius: 100px;
    width: 100%;
    display: flex;
}

.benefits__icon img,
.benefits__image img {
    width: 100%;
}

.benefits__title,
.list-item__description,
.list-item__title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}

.benefits__title {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.benefits__list-item {
    width: calc(50% - 30px);
    display: flex;
    align-items: center;
    gap: 25px;
}

.list-item__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.list-item__image {
    width: 40px;
    height: 40px;
}

.list-item__title,
.list-item__title p,
.list-item__title li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.list-item__description,
.list-item__description p,
.list-item__description li {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

@media screen and (max-width: 1299px) {
    .benefits__items {
        gap: 40px;
    }

    .benefits__list {
        gap: 24px;
    }

    .benefits__list-item {
        width: calc(50% - 12px);
    }

    .benefits__item:first-child {
        max-width: 390px;
    }
}

@media screen and (max-width: 1099px) {
    .benefits__item:first-child {
        max-width: 340px;
    }
}

@media screen and (max-width: 991px) {
    .benefits__items {
        flex-direction: column;
    }

    .benefits__item:first-child {
        max-width: 100%;
    }

    .benefits__item {
        gap: 24px;
    }

    .benefits__title {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .benefits__title {
        font-size: 32px;
        line-height: 42px;
    }

    .benefits__list-item {
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
    }

    .list-item__title {
        font-size: 18px;
        line-height: 24px;
    }

    .list-item__description {
        display: none;
    }

    .benefits__list {
        flex-direction: column;
    }

    .benefits__icon {
        width: 180px;
        height: 180px;
        left: -93px;
        bottom: -82px;
    }

    .benefits__icon img {
        transform: rotate(275deg);
        width: 100%;
        height: 100%;
    }
}
*/