.grid-item__content-info,
.grid-item__content-title,
.benefit-icons__title {
    text-align: center;
    font-family: Raleway;
    font-style: normal
}

.benefit-icons__container {
    padding: 40px;
    border-radius: 80px;
    background-color: var(--background)
}

.benefit-icons__title {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin: 0 0 56px
}

.grid-icons {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap
}

.grid-icons>:not(:last-child) {
    margin-right: 80px
}

.grid-icons__item {
    max-width: calc(100% / 4 - 80px * 3 / 4);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.grid-icons__item-decor {
    width: 110px;
    height: 100px;
    position: relative;
    margin-bottom: 26px
}

.grid-icons__item-decor svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.grid-item__content-title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 12px
}

.grid-item__content-info {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0
}

@media(max-width:1250px) {
    .grid-icons>:not(:last-child) {
        margin-right: 20px
    }

    .grid-icons__item {
        max-width: calc(100% / 4 - 20px * 3 / 4)
    }
}

@media(max-width:998px) {
    .grid-icons>:not(:last-child) {
        margin-right: 0
    }

    .grid-icons {
        column-gap: 20px;
        row-gap: 40px
    }

    .grid-icons__item {
        max-width: calc(100% / 2 - 20px * 1 / 2)
    }
}

@media (max-width:768px) {
    .benefit-icons__container {
        padding: 40px 20px
    }

    .benefit-icons__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        margin: 0 0 40px
    }

    .grid-icons__item {
        max-width: 100%;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between
    }

    .grid-item__content-title {
        margin: 0 0 9px;
        text-align: left
    }

    .grid-item__content-info {
        text-align: left
    }

    .grid-icons__item-decor {
        min-width: 90px;
        width: 90px;
        height: 80px;
        margin: 0 26px 0 0
    }
}