html {
  scroll-behavior: smooth;
}

.benefits {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  margin: 0 auto;
}

/* navigation section */
.benefits__nav {
  display: flex;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  padding-left: 0px;
  margin-bottom: 24px;
  column-gap: 22px;
}

.benefits__nav::-webkit-scrollbar {
  display: none;
}

.benefits__nav-item {
  margin-right: 0;
  font-weight: 500;
  font-size: 18px;
  color: #C4C4C4;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  padding-bottom: 4px;
  transition: color .3s ease-in-out;
}

.benefits__nav-item::after {
  content: '';
  height: 2px;
  background-color: #F1F1F1;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: background-color .3s ease-in-out;
}

.benefits__nav-item::before{
  content: "";
  height: 100%;
  width: 2px;
  background-color: #F1F1F1;
  position: absolute;
  right: -12px;
  top: 0;
}

.benefits__nav-item:not(.benefits__nav-item--active):hover {
  color: #005EB8;
}

.benefits__nav-item:not(.benefits__nav-item--active):hover::after {
  background-color: #005EB8;
}

.benefits__nav-item--active {
  color: #005EB8;
}

.benefits__nav-item--active::after {
  background-color: #005EB8;
}

.benefits__wrapper {
  max-width: 780px;
  margin: 0 auto;
}

.benefits__item {
  margin-bottom: 60px;
}

/* Image section */
.benefits__item-container {
  width: 100%;
  position: relative;
  margin: 0 0 24px;
}

.benefits-item__picture {
  width: 100%;
  position: relative;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  padding-bottom: 72%;
}

.benefits-item__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefits-item__badge {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: #005EB8;
  box-shadow: 0px 4px 20px 0px #005EB866;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(8px, 16px);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.benefits-item__badge-name {
  font-size: 14px;
}

.benefits-item__badge-age {
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
}

/* description section */

.benefits__descriptions {
  margin: 0;
}

.benefits__title {
  font-size: 32px;
  margin-bottom: 0.3em;
  font-family: inherit;
  font-weight: 500;
}

.benefits__details {
  color: rgba(0, 0, 0, 0.7);
  font-family: inherit;
}

.benefits__expectations {
  margin-top: 40px;
  overflow: hidden;
}

.benefits__expectations__title {
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 0.3em;
  margin-top: 0;
}

.benefits__expectation-list {
  margin: 0;
  padding-left: 38px;
  list-style: none;
}

.expectation-list__item {
  position: relative;
  margin: 18px 0;
}

.expectation-list__item strong {
  color: #005EB8;
  font-weight: 500;
}

.expectation-list__item:last-child {
  margin-bottom: 0;
}

.expectation-list__item-marker {
  position: absolute;
  left: 0;
  top: 14px;
  transform: translate(-40px, -50%);
}

.benefits__more-btn {
  padding: 10px 60px;
  border: 1px solid #005EB8;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none !important;
  min-height: 60px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  background-color: #005EB8;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  gap: 10px;
}

.benefits__more-btn:hover {
  box-shadow: 0px 7px 18px 0px #005EB866;
  background-color: #004A91;
  border-color: #004A91;
}

.benefits-item__picture--desktop {
  display: none;
}

.benefits-item__picture--block {
  display: block;
}


@media screen and (min-width: 768px) {
  .benefits-item__picture--desktop {
    display: block;
  }

  .benefits-item__picture--block {
    display: none;
  }

  .benefits__item {
    margin-bottom: 120px;
  }
}

.benefits__nav-hidden {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  padding-top: 15px;
}

.benefits__nav-sticky:not(.benefits__nav-hidden) {
  width: 100%;
  position: sticky;
  padding-top: 15px;
  top: var(--header-height);
  z-index: 10;
  background: #fff;
  transition: all .3s;
}

@media screen and (min-width: 1180px) {
  .benefits__descriptions {
    margin: 0 30px 0 0;
    max-width: 51%;
  }

  .benefits__wrapper {
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .benefits__nav-item {
    font-size: 24px;
  }

  .benefits__item {
    display: flex;
    flex-direction: row-reverse;
  }

  .benefits__item-container {
    margin: 0;
    margin-left: 60px;
  }

  .benefits-item__picture {
    max-width: 100%;
    padding-bottom: 155%;
  }

  .benefits-item__badge {
    left: 0;
    right: auto;
    bottom: 14px;
    transform: translate(-50%, 0);
  }

  .benefits__title {
    font-size: 48px;
    margin-top: 0;
  }

}