.jdgm-widget.jdgm-review-widget .jdgm-rev-widg__title {
  font-family: DM Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 120% !important;
  letter-spacing: -1px !important;
  color: #100f0f !important;
  text-align: left !important;
  margin-bottom: 30px !important;
  padding-right: 176px !important;
  margin-bottom: 30px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-histogram {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-average {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-verified-checkmark {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-inner {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-text {
  font-family: DM Sans, sans-serif !important;
  font-weight: 400 !important;
  text-decoration: none !important;
  font-size: 15px !important;
  line-height: 150% !important;
  letter-spacing: normal !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-stars .jdgm-write-rev-link {
  margin: 0 0 0 auto !important;
  border-radius: 60px !important;
  padding: 10px 27.5px !important;
  width: fit-content !important;
  font-family: DM Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 100% !important;
  color: #fff !important;
  background: #005eb8 !important;
  letter-spacing: -.16px;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-stars {
  justify-content: flex-start !important;
}

.jdgm-rev-widg {
  padding: 0 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-widget-actions-wrapper {
  width: 100% !important;
  position: absolute !important;
  top: 7px !important;
  right: 50px !important;
  border: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary {
  align-items: flex-start !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-actions {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-rating {
  margin-bottom: 0 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev {
  padding: 30px 0 !important;
  border-color: #31374126 !important;
  position: relative !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__header {
  display: flex !important;
  flex-direction: column-reverse !important;
  margin-bottom: 0 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-product {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__timestamp {
  position: absolute !important;
  top: 30px !important;
  right: 0 !important;
  font-family: DM Sans, sans-serif !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 120% !important;
  letter-spacing: normal !important;
  color: #394152 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-extra {
  display: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-row-profile {
  display: flex !important;
  align-items: flex-start !important;
  margin-bottom: 15px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__icon {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__author-wrapper {
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__author {
  font-family: DM Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 130% !important;
  letter-spacing: normal !important;
  color: #101828 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__icon:not(.jdgm-rev__avatar):before {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__buyer-badge.jdgm-rev__buyer-badge {
  padding: 0 !important;
  background: transparent !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
  gap: 0 4px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__buyer-badge:before {
  font-family: DM Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 130% !important;
  color: #00a30b !important;
  letter-spacing: normal !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__buyer-badge:after {
  content: "" !important;
  display: block !important;
  width: 14px !important;
  height: 14px !important;
  background: url("https://cdn.shopify.com/s/files/1/0584/4149/8678/files/verified-svgrepo-com_2_1.svg?v=1761918026") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__content {
  margin-top: 15px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__body {
  font-family: DM Sans, sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 150% !important;
  letter-spacing: normal !important;
  color: #101828 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__actions {
  display: flex !important;
  margin-top: 15px !important;
  flex-direction: row-reverse !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__votes {
  display: flex !important;
  align-items: center !important;
  gap: 0 12px !important;
  margin-right: auto !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__votes:before {
  content: "Was this helpful?" !important;
  font-size: 13px !important;
  line-height: 130% !important;
  font-family: DM Sans, sans-serif !important;
  letter-spacing: normal !important;
  color: #394152 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__share-btn,
.jdgm-widget.jdgm-review-widget .jdgm-rev__thumb-btn {
  color: #596575 !important;
  padding: 0 4px 0 0 !important;
  margin: 0 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__thumb-count {
  font-family: DM Sans, sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  font-size: 13px !important;
  line-height: 130% !important;
  color: #394152 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-rev__thumb-count {
  margin-right: 10px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 4px !important;
  padding: 30px 0 50px !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-curt {
  background: #e9f4ff !important;
  border-radius: 50% !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page {
  font-family: DM Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  color: #101828 !important;
  letter-spacing: normal !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__next-page,
.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__prev-page {
  background: url("https://cdn.shopify.com/s/files/1/0584/4149/8678/files/button_02_medium_cc971144-b297-4cb6-a90c-f1055dfdc5db.svg?v=1761919610") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__next-page::before,
.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__prev-page::before {
  content: none !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__prev-page {
  transform: rotate(180deg) !important;
}

.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__last-page,
.jdgm-widget.jdgm-review-widget .jdgm-paginate__page.jdgm-paginate__first-page {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .page-width-custom {
    padding: 0 20px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__title {
    padding-right: 0 !important;
    font-size: 26px !important;
    line-height: 130% !important;
    letter-spacing: -0.8px !important;
    margin-bottom: 16px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-inner {
    gap: 5px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary {
    margin-bottom: 15px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-rev__icon {
    width: 44px !important;
    height: 44px !important;
    margin-right: 10px !important; 
  }

  .jdgm-widget.jdgm-review-widget .jdgm-rev {
    padding: 20px 0 !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-paginate {
    padding: 20px 0 40px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-widget-actions-wrapper {
    position: static !important;
    transform: none !important;
    margin-bottom: 15px !important;
  }

  .jdgm-widget.jdgm-review-widget .jdgm-row-stars .jdgm-write-rev-link {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}