.image__icons {
  position: relative;
}

.image__icons .bg-image-c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__icons .bg-image-mobile {
  display: none;
}

.image__icons .c-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.image__icons-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1px;
  color: #100F0F;
  margin: 0 0 30px 0;
  text-align: center;
}

.image__icons-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image__icon-grid_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 187.33px;
}

.image__icon-grid_item img {
  width: 58px;
  height: 58px;
  object-fit: contain;
  margin: 0 auto;
}

.image__icon-grid_item span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #101828;
  text-align: center;
}

.image__icons-image {
  max-width: 841px;
  width: 100%;
  margin: 30px auto 0;
  position: relative;
}

.image__icons-image img.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.image__icons-image::before {
  content: "";
  display: block;
  padding-top: 69.679%;
}

.image__icons-wrapper {
  position: absolute;
  top: 40px;
  z-index: 1;
  padding: 0 17px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.image__icons-item {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 20px;
  background: #005EB8;
  padding: 11.75px 10px;
}

.image__icons-item img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.image__icons-item span {
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 500;
}

.image__icons-image img.image.mobile {
  display: none;
}

@media screen and (max-width: 990px) {
  .image__icons .bg-image-mobile {
    display: block;
  }

  .image__icons .bg-image-mobile+img {
    display: none;
  }

  .image__icons-image img.image.mobile {
    display: block;
  }

  .image__icons-image img.image.mobile+img {
    display: none;
  }

  .image__icons-image:before {
    padding-top: 136.12%;
  }

  .image__icons-heading {
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }

  .image__icon-grid_item {
    min-width: initial;
  }

  .image__icon-grid_item img {
    width: 34px;
    height: 34px;
  }

  .image__icon-grid_item span {
    font-size: 12px;
    line-height: 130%;
  }

  .image__icons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 21px;
  }

  .image__icons-wrapper {
    top: 16px;
    padding: 0 30px;
    flex-wrap: initial;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .image__icons-item {
    padding: 5.75px 10px;
  }

  .image__icons-item.hide-mobile {
    display: none;
  }
}