.customer:not(.account):not(.order) {
  margin: 0 auto;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.customer.addresses:not(.account):not(.order){
  max-width: 900px;
}

.customer>h1,
.customer__title {
  margin-top: 0;
}

form div#rc_login,
form div#rc_login p {
  margin-top: 0;
}

.customer form {
  margin-top: 15px;
}

.customer button {
  margin: 4rem 0 1.5rem;
}

.customer ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left;
  margin-bottom: 4rem;
}

.customer ul a {
  display: inline;
}

.customer strong {
  font-weight: normal;
  color: rgb(var(--color-foreground));
}

.customer h2.form__message {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

@media only screen and (min-width: 750px) {
  .customer h2.form__message {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
}

.customer .field {
  margin: 2rem 0 0 0;
}

.customer .field:first-of-type {
  margin-top: 0;
}

/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  border-bottom: 0.01rem solid rgba(var(--color-foreground), 0.08);
  box-shadow: none;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
}

.customer__customer-orders {
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .customer table {
    border: none;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.08);
  }
}

@media screen and (forced-colors: active) {
  .customer table {
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
  }
}

.customer tbody {
  color: rgb(var(--color-foreground));
}

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .customer td {
    padding-right: 2.2rem;
  }
}

.customer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.customer td:empty {
  display: initial;
}

.customer thead th {
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.customer__default-order {
  color: #005eb8;
  margin: 0;
}

.customer__orders-list li {
  display: flex;
  justify-content: space-between;
}

.customer .customer__orders-list button {
  background: none;
  max-width: fit-content;
  padding: 0;
  color: #005eb8;
  margin: 0;
  height: min-content;
  padding: 0 10px;
  min-width: fit-content;
  border: 0px;
  font-size: 18px;
}

.order-item__controls {
  display: flex;
  gap: 40px;
  align-items: center;
}

.customer h2.customer__default-order {
  font-size: 18px;
  color: #ff6a13;
}

.customer__default-order-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.customer__default-order-icon {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  background: #ff6a13;
  padding: 5px;
  border-radius: 100%;
}

.customer .customer__orders-list button:hover {
  background: transparent;
  border: 0px;
}

.customer tbody td:first-of-type {
  padding-top: 4rem;
}

.address-form__form-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto !important;
  scrollbar-color: #005EB8 #F1F1F1;
  scrollbar-width: thin;
  padding-right: 20px ;
}

.address-form__form-content::-webkit-scrollbar-thumb {
  background-color: #005EB8;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 0px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 #e6e6e6, inset 0 -1px 0 #eeeeee;
  width: 4px;
}

.address-form__heading {
  display: flex;
  justify-content: space-between;
}

.address-form__heading h2 {
  margin-top: 0;
}

.address-form__heading svg {
  pointer-events: none;
}

.customer__address-form-overlay {
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 101;
  background: #21212180;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.customer__address-form {
  display: flex;
  width: calc(100vw - 32px);
  max-width: 800px;
  height: calc(100vh - 32px);
  max-height: 820px;
  background: #fff;
  position: relative;
  border-radius: 60px;
  padding: 40px;
  flex-direction: column;
}

@media screen and (min-width: 750px) {

  .customer th,
  .customer td:first-of-type {
    text-align: left;
    padding-left: 0;
    padding-right: 2.2rem;
  }

  .customer thead th,
  .customer tbody td {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .customer th:first-of-type,
  .customer td:first-of-type {
    padding-left: 2.2rem;
  }

  .customer tbody td {
    vertical-align: top;
  }

  .customer tbody td:first-of-type {
    padding-top: 2.4rem;
  }
}

.customer tbody td:last-of-type {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tbody td:last-of-type {
    padding-bottom: 0;
  }
}

.customer tbody tr {
  border-top: 0.01rem solid rgba(var(--color-foreground), 0.08);
}

@media screen and (min-width: 750px) {
  .customer tbody tr:first-of-type {
    border-top: none;
  }
}

@media screen and (forced-colors: active) {
  .customer tbody tr {
    border-top: 0.1rem solid transparent;
  }
}

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.customer tfoot td:first-of-type {
  text-align: left;
}

.customer tfoot tr:first-of-type td {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {

  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 2.4rem;
  }
}

.customer tfoot tr:last-of-type td {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {

  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: ' ';
  height: 0.1rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: rgba(var(--color-foreground), 0.08);
}

@media screen and (forced-colors: active) {

  .customer thead::after,
  .customer tfoot::before {
    background: CanvasText;
  }
}

.customer__order-item p {
  text-align: start;
}

/* mobile table overrides */
@media screen and (max-width: 749px) {

  .customer thead,
  .customer th,
  .customer tfoot td:first-of-type {
    display: none;
  }

  .customer td {
    display: flex;
    text-align: right;
  }

  .customer__address-form{
    padding: 20px;
    border-radius: 20px;
  }

  .customer td::before {
    color: rgba(var(--color-foreground), 0.75);
    content: attr(data-label);
    font-size: 1.4rem;
    padding-right: 2rem;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
  }

  .customer td:first-of-type {
    display: flex;
    align-items: center;
  }

  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .customer__order-item{
    flex-direction: column;
  }

  .customer:not(.account):not(.order) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .customer__order-item p {
    text-align: center;
  }

  .account-tabs__list {
    justify-content: start;
    overflow-x: scroll;
  }

  .order-item__controls{
    justify-content: center;
  }
}

/* Pagination */
.customer .pagination {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  flex: 1 1;
  max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
  margin-right: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/* Login */
.login a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.login a[href='#recover'] {
  margin-left: 0;
  margin-right: 0;
}

.login form a {
  margin-top: 10px;
}

.rc_login p {
  margin-bottom: 0;
}

.login p {
  margin: 1.5rem 0;
}

.login h3 {
  margin-top: 1.5rem;
  text-align: left;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}

.activate button[name='decline'] {
  background-color: rgba(var(--color-background), var(--alpha-button-background));
  color: rgb(var(--color-link));
}

.addresses li > button,
.addresses form button[type]{
  margin-top: 40px;
}


.customer button,
.customer a.customer-orders__blank-button,
.customer .customer__orders-list button.edit-address-form__update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  max-width: 360px;
  height: 60px;
  padding: 0 60px;
  border-radius: 100px;
  border: 1px solid transparent;
  background: #005eb8;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  letter-spacing: normal;
  transition: all .3s;
  margin: 40px auto 0;
}

.customer {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.customer button:not(.customer__add-address):hover,
.customer a.customer-orders__blank-button:hover,
.customer .customer__orders-list button.edit-address-form__update-button:hover  {
  border: 1px solid #004A91;
  background: #004a91;
}
.customer  .order-item__controls button:not(.edit-address-form__update-button):hover{
  background: transparent;
  border: 0px;
  color: #004a91;
}

.customer button::after,
.customer button::before,
.customer .field::after,
.customer .field::before {
  display: none;
}

.address-form__heading button{
  padding: 0;
  background: 0;
  margin: 0;
  width: fit-content;
  min-width: 0;
  height: fit-content;
  min-height: 0;
}

.field--extra {
  margin-top: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  color: rgb(153, 153, 153);
}

.field--extra *:hover{
  cursor: pointer;
}

.customer .field input {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0px 0px 0px 16px;
  height: 48px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.customer .field input.input--with-error {
  border: 1px solid rgb(168, 9, 9);
  box-shadow: 0px 0px 3px rgb(168, 9, 9);
}

.customer .field input.input--with-error + label {
  color: rgb(168, 9, 9);
}

.customer .field label {
  padding-top: 5px;
}

.customer .field input:focus-visible {
  box-shadow: rgb(0, 100, 205) 0px 0px 5px;
  border-radius: 8px;
}

.customer h1 {
  font-family: Raleway, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}

.customer h2 {
  font-family: Raleway, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
}

.customer a {
  text-underline-position: from-font;
}

@media only screen and (min-width: 750px) {
  .activate button[name='decline'] {
    margin-top: inherit;
    margin-left: 1rem;
  }
}

/* Account/Order */
:is(.account, .order) {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  :is(.account, .order) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) {
    display: flex;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
    flex-grow: 1;
    padding-right: 3.2rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .order > div:nth-of-type(2) > div:last-of-type {
    display: flex;
  }

  .order > div:nth-of-type(2) > div:last-of-type div {
    padding-right: 3.2rem;
  }
}

:is(.account, .order) p {
  margin: 0 0 2rem;
  font-size: 1.6rem;
}

:is(.account, .order) h1 {
  margin-bottom: 1rem;
}

:is(.account, .order) h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  :is(.account, .order) h2 {
    margin-top: 0;
  }
}

.account h1 + a {
  display: inline-flex;
  align-items: center;
}


.account a svg {
  width: 1.5rem;
  margin-bottom: -0.03rem;
  margin-right: 1rem;
}

@media screen and (min-width: 750px) {

  .account thead th:last-child,
  .account td:last-child {
    text-align: right;
  }

  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.account table td:first-of-type a {
  padding: 1.1rem 1.5rem;
  text-decoration: none;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-link), 0.2);
  border: 0.1rem solid transparent;
  font-size: 1.2rem;
}

.account table td:first-of-type a:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-link), 0.2);
}

.order td:first-of-type {
  align-items: initial;
}

@media screen and (min-width: 750px) {

  .order thead th:nth-last-child(-n + 3),
  .order td:nth-last-child(-n + 3) {
    text-align: right;
  }
}

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
  font-size: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {

  .order tfoot tr:last-of-type td,
  .order tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

.order tfoot tr:last-of-type td:before {
  font-size: 2.2rem;
}

.order table p,
.order > div:nth-of-type(2) > div:first-of-type h2,
.order > div:nth-of-type(2) > div:last-of-type h2 + p {
  margin-bottom: 0;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem;
}
.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column;
}

.order .item-props > span {
  word-break: break-all;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order .fulfillment {
  width: fit-content;
  border: 0.01rem solid rgba(var(--color-foreground), 0.2);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: left;
}

.order .fulfillment a {
  margin: 0.7rem 0;
}

.order .fulfillment span {
  display: block;
}

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .order td .cart-discount {
    display: none;
  }
}

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .order tbody ul {
    text-align: left;
  }
}

.order table a {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order tbody tr:first-of-type td:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .order tbody tr:first-of-type td:first-of-type > div {
    align-items: flex-start;
  }
}

.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.order .properties span {
  display: block;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order svg {
  width: 1.1rem;
  color: rgb(var(--color-foreground));
  margin-right: 0.5rem;
}

.order dl {
  margin: 0;
}

.order dd {
  margin-left: 0;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order dd s {
  color: rgba(var(--color-foreground), 0.7);
}

.order .unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}

.order .regular-price {
  font-size: 1.3rem;
}

/* Addresses */
.addresses li > button {
  margin: 20px auto;
}

.addresses li > button + button,
.addresses form button + button {
  margin: 20px auto 0;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

label[for='AddressCountryNew'],
label[for='AddressProvinceNew'] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
  text-align: left;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

li[data-address] {
  margin-top: 40px;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: flex;
}

.addresses h2 {
  text-align: left;
}

li[data-address] > h2 {
  text-align: center;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
  margin-bottom: 0;
}

@media only screen and (min-width: 750px) {
  li[data-address] > h2 {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
}

.addresses ul p {
  margin-bottom: 0;
}

.addresses input[type='checkbox'] {
  margin-top: 2rem;
  margin-left: 0;
}

@media only screen and (min-width: 750px) {
  .addresses form > div:nth-of-type(1) {
    margin-right: 2rem;
  }

  .addresses form > div:nth-of-type(2) {
    margin-top: 0;
  }

  .addresses form > div:nth-of-type(1),
  .addresses form > div:nth-of-type(2) {
    box-sizing: border-box;
    flex-basis: calc(50% - 1rem);
  }
}

.addresses form > div:nth-of-type(7),
.addresses form > div:nth-of-type(7)+div[id] {
  margin-top: 1.5rem;
}