.landing-hero-banner-v3 .landing-hero-banner__highlighted-text {
  color: #fff;
  background: transparent;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  margin: 20px 0;
}

.landing-hero-banner-v3 .landing-hero-banner__highlighted-text span:not(.highlighted_text) {
  color: #fff;
  background: transparent;
  margin-bottom: 0;
}

.landing-hero-banner-v3 .landing-hero-banner__highlighted-text .third-line {
  display: none;
}

.landing-hero-banner-v3 .landing-hero-banner__highlighted-text span.highlighted_text {
  color: var(--highlighted-text-color);
  font-weight: 700;
  margin-bottom: 0;
}

.landing-hero-banner-v3 .landing-hero-banner__highlighted-text span.highlighted_text.mobile {
  display: none;
}

.landing-hero-banner__info-icons-text-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  background-color: #ffffff66;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  width: calc(100% - 50px);
  margin-top: 40px;
}

.landing-hero-banner-v3 {
  position: relative;
}

.bg-image-c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image-c.bg-image-mobile {
  display: none;
}

@media screen and (max-width: 990px) {
  .bg-image-c.bg-image-mobile  {
    display: block;
  }

  .bg-image-c.bg-image-mobile + .bg-image-desktop {
    display: none;
  }
}

.landing-hero-banner__icon-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.landing-hero-banner__icon-info-text .icon {
  width: 50px;
  height: 50px;
}

.landing-hero-banner__icon-info-text .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.landing-hero-banner__icon-info-text .text {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #101828;
}

.landing-hero-banner-v3 .landing-hero-banner__title {
  color: #FFFFFF;
  width: 50%;
  margin-top: 0;
}

@media screen and (min-width: 1650px) {
  .landing-hero-banner-v3 .landing-hero-banner__image-desktop :is(img,svg) {
    object-fit: contain;
  }
}

.landing-hero-banner-v3 .landing-hero-banner__title strong {
  font-weight: 600;
}

.landing-hero-banner-v3 .landing-hero-banner__icons-with-text-container {
  margin: 20px 0;
  gap: 20px;
  width: 50%;
  flex-wrap: wrap;
}

.landing-hero-banner-v3 .landing-hero-banner__icons-with-text-container .main-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  padding-right: 14px;
}

.landing-hero-banner-v3 .landing-hero-banner__reviews-cta {
  margin: 40px 0 20px;
  width: 50%;
}

.landing-hero-banner-v3 .landing-hero-banner__reviews-cta .landing-hero-banner__cta {
  max-width: 335px;
}

.landing-hero-banner-v3 .landing-hero-banner__container {
  position: relative;
}

.landing-hero-banner-v3 .landing-hero-banner__container .landing-hero-banner__image-desktop {
  flex: initial;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}

.landing-hero-banner-v3 .landing-hero-banner__container .landing-hero-banner__content {
  max-width: initial;
  flex: initial;
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 990px) {

  .landing-hero-banner-v3 .landing-hero-banner__title,
  .landing-hero-banner-v3 .landing-hero-banner__icons-with-text-container,
  .landing-hero-banner-v3 .landing-hero-banner__reviews-cta {
    width: 100%;
  }

  .landing-hero-banner-v3 .landing-hero-banner__reviews-cta {
    margin-top: 0 !important;
    margin-bottom: 13px !important;
  }

  .landing-hero-banner-v3 .landing-hero-banner__image-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 450px;
  }

  .landing-hero-banner-v3 .landing-hero-banner__image-mobile img {
    max-height: 450px;
  }

  .landing-hero-banner-v3 .landing-hero-banner__title {
    margin: 0 0 12px 0;
  }

  .landing-hero-banner-v3 .landing-hero-banner__reviews-cta {
    margin: 12px 0;
    padding: 0;
    background: transparent;
    align-items: center;
    max-width: 500px;
    border-radius: 0;
    gap: 20px;
  }

  .landing-hero-banner-v3 .landing-hero-banner__cta-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .landing-hero-banner-v3 .landing-hero-banner__highlighted-text {
    margin-bottom: 12px;
    margin-top: 0;
  }

  .landing-hero-banner-v3 .landing-hero-banner__icons-with-text-container .main-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .landing-hero-banner-v3 .landing-hero-banner__icons-with-text-container {
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }

  .landing-hero-banner-v3 .landing-hero-banner__icon-with-text {
    background: transparent;
    padding: 0;
    flex: initial;
    border-radius: 0;
  }

  .landing-hero-banner-v3 .landing-hero-banner__icon-with-text .icon {
    min-width: initial;
    width: fit-content;
    flex: initial;
    max-width: initial;
  }

  .landing-hero-banner__info-icons-text-container {
    max-width: initial;
    width: calc(100% + 40px);
    border-radius: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 20px;
    align-items: flex-start;
    padding: 20px 41px;
    margin-top: 218px;
  }

  .landing-hero-banner__icon-info-text .icon {
    width: 34px;
    height: 34px;
  }

  .landing-hero-banner__icon-info-text {
    gap: 4px;
  }

  .landing-hero-banner-v3 .landing-hero-banner__container {
    padding: 0 2rem;
  }

  .landing-hero-banner-v3 .landing-hero-banner__highlighted-text.has-mobile span.mobile {
    display: initial;
  }

  .landing-hero-banner-v3 .landing-hero-banner__highlighted-text.has-mobile span.desktop {
    display: none;
  }

  .landing-hero-banner-v3 .landing-hero-banner__highlighted-text .third-line {
    display: block;
    margin-top: 0;
    color: var(--highlighted-text-color) !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: normal;
  }
}