@media screen and (min-width: 1200px) {
  .landing-product.is--extra-styles .product-information__plan-name {
    flex-wrap: initial;
    white-space: nowrap;
  }
}

.landing-product.is--extra-styles .landing-product__information .product-content__guarantee {
  padding: 0;
  background: transparent;
  border-radius: 0;
  margin-top: 26px;
}

.landing-product.is--extra-styles .landing-product__information .product-content__guarantee .guarantee__header {
  justify-content: center;
}

.landing-product-alternative .landing-product.is--extra-styles .product-information__price .product-information__price-text {
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  color: #101828;
  font-weight: 400;
}

.landing-product.is--extra-styles .product-information__reviews-text {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: normal;
}

.landing-product.is--extra-styles .product-information__reviews-text span {
  color: var(--primary-color);
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: normal;
}

.landing-product.is--extra-styles .product-information__reviews {
  margin-top: 4px !important;
}

@media screen and (max-width: 750px) {
  .landing-product.is--extra-styles .guarantee__title {
    font-size: 15px;
  }

  .landing-product.is--extra-styles .guarantee__icon {
    width: 20px;
    height: 20px;
  }

  .landing-product.is--extra-styles .landing-product__information .product-content__guarantee {
    margin-top: 20px;
  }

  .icon-text-blocks {
    gap: 3px;
    margin-top: 20px !important;
  }

  .landing-product-alternative .landing-product.is--extra-styles .product-information__price .product-information__price-text {
    display: block;
    text-align: right;
  }

  .landing-product.is--extra-styles .product-information__price-text--mobile {
    display: none;
  }

  .landing-product-alternative .landing-product.is--extra-styles .product-information__plan-name {
    white-space: nowrap;
  }

  .landing-product.is--extra-styles .landing-product__information>div,
  .landing-product.is--extra-styles .landing-product__information>label {
    max-width: initial;
  }

  .landing-product.is--extra-styles .product-information__features.product-block {
    display: none;
  }

  .landing-product.is--extra-styles .product-information__reviews-text,
  .landing-product.is--extra-styles .product-information__reviews-text span {
    font-size: 12px;
    line-height: 150%;
  }

  .landing-product.is--extra-styles .product-information__reviews-icon {
    width: 80px;
  }

  .landing-product.is--extra-styles #landing-product__info-block {
    display: block;
  }

  .landing-product.is--extra-styles .landing-product__mobile-blocks .landing-product__title {
    display: none;
  }

  .landing-product.is--extra-styles .product-information__reviews {
    margin-top: 8px !important;
  }
}