.landing-hero-banner-v4 {
  position: relative;
}

.landing-hero-banner-v4 .bg-image-c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-hero-banner-v4 .bg-image-mobile {
  display: none;
}

.landing-hero-banner-v4 .landing-hero-banner__content {
  position: relative;
  max-width: 560px;
}

.landing-hero-banner-v4 .landing-hero-banner__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1.5px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 10px;
}

.landing-hero-banner-v4 .landing-hero-banner__title strong {
  font-weight: 600;
  color: var(--strong-color);
  z-index: 1;
  position: relative;
}

.landing-hero-banner-v4 .landing-hero-banner__title strong::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  display: block;
  z-index: -1;
  width: 100%;
  height: 40px;
  background-image: url(./landing-hero-strong-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-hero-banner-v4 .landing-hero-banner__title strong::after {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 14px;
  height: 28px;
  background-image: url(./landing-hero-strong-lightning.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-hero-banner-v4 .secondary-text {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #101828;
  margin-bottom: 20px;
}

.landing-hero-banner-v4 .content-text {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: normal;
  font-weight: 500;
  color: #101828;
}

.landing-hero-banner__icons-with-text-container {
  margin: 30px 0;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.landing-hero-banner-v4 .landing-hero-banner__icon-with-text {
  flex-direction: column;
  align-items: center;
  gap: 6px;
  max-width: 96px;
}

.landing-hero-banner-v4 .landing-hero-banner__icon-with-text img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.landing-hero-banner-v4 .landing-hero-banner__icon-with-text .text {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: normal;
  color: #101828;
  text-align: center;
}

.landing-hero-banner-v4 .landing-hero-banner__reviews-text {
  font-size: 15px;
  line-height: 150%;
  color: #101828;
  letter-spacing: normal;
}

.landing-hero-banner-v4 .landing-hero-banner__guarantee-badge {
  line-height: 130%;
  font-size: 15px;
  letter-spacing: normal;
  gap: 8px;
}

.landing-hero-banner-v4 .landing-hero-banner__image-desktop :is(img, svg) {
  height: 93%;
  top: auto;
  bottom: 0;
  object-fit: contain;
  object-position: 100% !important;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .landing-hero-banner-v4 .landing-hero-banner__content {
    padding: 70px 0;
  }
}

@media screen and (max-width: 990px) {
  .landing-hero-banner-v4 .bg-image-mobile {
    display: block;
  }

  .landing-hero-banner-v4 .bg-image-mobile+img {
    display: none;
  }

  .landing-hero-banner-v4 .landing-hero-banner__content {
    max-width: initial;
  }

  .landing-hero-banner-v4 .landing-hero-banner__container {
    padding: 0 20px;
  }

  .landing-hero-banner-v4 .landing-hero-banner__image-mobile {
    width: calc(100% + 40px);
  }

  .landing-hero-banner-v4 .landing-hero-banner__title {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.8px;
    margin-bottom: 5px;
    text-align: center;
  }

  .landing-hero-banner-v4 .landing-hero-banner__title strong:before {
    top: 0;
    left: -10px;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .landing-hero-banner-v4 .landing-hero-banner__title strong:after {
    top: 0;
    left: -20px;
    width: 9px;
    height: 18px;
  }

  .landing-hero-banner-v4 .secondary-text {
    text-align: center;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: normal;
    margin-bottom: 15px;
  }

  .landing-hero-banner-v4 .content-text {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: normal;
  }

  .landing-hero-banner__icons-with-text-container {
    margin: 20px 0 22px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .landing-hero-banner-v4 .landing-hero-banner__icon-with-text {
    background: transparent;
    padding: 0;
    width: 100%;
  }

  .landing-hero-banner__icon-with-text .icon {
    width: 52px;
    height: 52px;
    min-width: initial;
    max-width: initial;
  }

  .landing-hero-banner-v4 .landing-hero-banner__icon-with-text .text {
    font-size: 12px;
    line-height: 120%;
  }

  .landing-hero-banner__reviews-cta {
    background: transparent;
    padding: 0;
  }

  .landing-hero-banner-v4 .landing-hero-banner__reviews {
    flex-wrap: wrap;
  }

  .landing-hero-banner-v4 .landing-hero-banner__reviews-text {
    width: 100%;
    display: block;
    text-align: center;
  }

  .landing-hero-banner-v4 .landing-hero-banner__guarantee-badge {
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    gap: 6px;
  }

  .landing-hero-banner-v4 .landing-hero-banner__icon-with-text.hide-mobile {
    display: none;
  }
}