.order-lookup * {
    font-family: Railway;
}

#ola_backButton {
    background-color: #cccccc;
    border: 1px solid #000;
}

#ola_orderEmailField,
#ola_orderNumberField {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 0 15px;
}

#ola_orderLookUp_formWrapper label {
    position: absolute;
    bottom: calc(100% - 8px);
    left: 10px;
    padding: 0 5px;
    color: #000;
    font-size: 12px;
    opacity: 1;
    background: #fff;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

#ola_orderLookUp_formWrapper input[type="text"] {
    padding: 14px 15px;
    border-radius: 8px;
    border: 1px solid #005eb8;
    width: 100%;
    transition: border-color 0.1s ease-in-out;
    font-size: 17px;
    line-height: 20px;
}

#ola_submitButton {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background: #005eb8;
    transition: background-color .3s linear;
    max-width: 360px;
}

#ola_submitButton:hover{
    background-color: #004A91;
} 

#ola_orderLookUp_formWrapper {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}