.effectiveness-title {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

.effectiveness-subtitle {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.70);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.effectiveness__days {
    gap: 60px;
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.days--off,
.days--on {
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    white-space: nowrap;
    letter-spacing: 0.1px;
}

.days--off {
    color: #C4C4C4;
}

.days--on {
    color: #005EB8;
}

.days-range__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 100%;
    width: 100%;
}


.days-range__item, .days-range__item:empty {
    width: 100%;
    display: flex;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
}


.days-range__item {
    background-color: #fff;
}
.effectiveness-container--active .days-range--on {
    background: #e4f0ff;
    animation: backgroundChangeDayOn 0.35s cubic-bezier(0.42, 0, 0.58, 1) forwards var(--delay);
}

@keyframes backgroundChangeDayOn {
    0% {
        background-color: #e4f0ff;
    }
    100% {
        background-color: #005EB8;
    }
}

.effectiveness-container--active .days-range--off {
    background: #E2E2E2;
    animation: backgroundChangeDayOff 0.35s cubic-bezier(0.42, 0, 0.58, 1) forwards var(--delay);
}
@keyframes backgroundChangeDayOff {
    0% {
        background-color: #E2E2E2;
    }
    100% {
        background-color: #C4C4C4;
    }
}

.effectiveness__advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.effectiveness__advantage {
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 22px;
}

.effectiveness__advantage-image {
    width: 60px;
    height: 53px;
}

.effectiveness__advantage-image img {
    width: 100%;
    height: 100%;
}

.effectiveness__advantage-title {
    color: #005EB8;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.effectiveness__advantage-description {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

@media screen and (max-width: 991px) {
    .effectiveness__days {
        gap: 24px;
    }

    .effectiveness__advantages {
        flex-direction: column;
        gap: 24px;
    }

    .effectiveness__advantage {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .effectiveness__days {
        gap: 20px;
        margin: 48px 0 60px;
        flex-wrap: wrap;
    }

    .days--off {
        order: 2;
    }

    .days--on {
        order: 1;
    }

    .days-range__items {
        order: 3;
        gap: 9px;
    }

    .effectiveness-title {
        font-size: 32px;
        line-height: 40px;
    }

    .days--off, .days--on {
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (max-width: 374px) {
    .days-range__item, .days-range__item:empty {
        min-width: 32px;
        height: 32px;
    }
}