

.review {
  display: flex;
  gap: 24px;
}

.review__name {
  font-family: Raleway;
  padding-top: 16px;
  padding-bottom: 4px;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.review__role {
  font-family: Raleway;
  margin: 0;
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 14px;
}
.review__information svg {
  display: block;
  margin: 0 auto;
}
.review__content {
  padding: 32px;
  background: #F9F9F9;
  border-radius: 20px;
}
.review__quote p {
  margin: 0;
  padding-top: 10px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-family: Raleway;
  letter-spacing: 0;
}
@media (min-width: 576px) {
  .reviews__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

@media (min-width: 1112px) {
  .reviews__wrapper {
    max-width: 1112px;
    margin: 0 auto;
    gap: 25px;
    justify-content: space-between;
  }
  .review {
    max-width: 496px;
  }
  .review:nth-child(2) {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .review {
    flex-wrap: wrap;
  }
  .review__information {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}