.beetroot-image-benefits__wrapper {
  padding: 80px 0;
  background-color: var(--background-color, #fff);
}

.beetroot-image-benefits__image-text-container {
  display: flex;
  gap: 70px;
  align-items: center;
}

.beetroot-image-benefits__image-text-container:not(:last-child) {
  margin: 0 0 80px;
}

.beetroot-image-benefits__image {
  flex: 1 1 436px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}

.beetroot-image-benefits__image::before {
  content: '';
  display: block;
  padding-top: 78.67%;
}

.beetroot-image-benefits__image svg,
.beetroot-image-benefits__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beetroot-image-benefits__content {
  flex: 1 1 700px;
}

.beetroot-image-benefits__title {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  margin: 0 0 40px;
}

.beetroot-image-benefits__text {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.beetroot-image-benefits__benefits-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.beetroot-image-benefits__benefit {
  display: flex;
  align-items: center;
  gap: 26px;
}

.beetroot-image-benefits__benefit .benefit__image {
  width: 40px;
  min-width: 40px;
  line-height: 0;
}

.beetroot-image-benefits__benefit .benefit__image img,
.beetroot-image-benefits__benefit .benefit__image svg {
  width: 100%;
  height: auto;
}

.beetroot-image-benefits__benefit .benefit__text {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

@media screen and (max-width: 989px) {
  .beetroot-image-benefits__wrapper {
    padding: 20px 0;
  }

  .beetroot-image-benefits__image-text-container {
    flex-direction: column;
    gap: 24px;
  }

  .beetroot-image-benefits__image-text-container:not(:last-child) {
    margin: 0 0 40px;
  }

  .beetroot-image-benefits__image {
    flex: auto;
    width: 100%;
    border-radius: 75px;
  }

  .beetroot-image-benefits__content {
    flex: auto;
  }

  .beetroot-image-benefits__title {
    font-size: 32px;
    line-height: 40px;
  }

  .beetroot-image-benefits__text {
    font-size: 16px;
    line-height: 180%;
  }

  .beetroot-image-benefits__benefits-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .beetroot-image-benefits__benefit .benefit__text {
    font-size: 18px;
    line-height: 24px;
  }
}