.statistic__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(800px + 10rem);
}

.statistic__subtitle {
  padding: 2px 0;
  color: #005eb8;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-body-family);
  background: #e9f4ff;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin: 0;
  margin-bottom: 12px;
}

.statistic__title {
  color: rgb(var(--color-foreground));
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--font-heading-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
  margin: 0;
}

.statistic__text {
  color: #394152;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-heading-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.16px;
  margin: 0;
  margin-top: 20px;
}

.statistic {
  margin-top: 50px;
}

.statistic > div {
  display: flex;
  justify-content: center;
}

.statistic .statistic--mobile {
  display: none;
}

@media screen and (max-width: 767px) {

  .statistic {
    margin-top: 23px;
  }

  .statistic__text {
    margin-top: 12px;
  }

  .statistic__subtitle {
    font-size: 18px;
  }

  .statistic__title {
    font-size: 26px;
  }

  .statistic__text {
    font-size: 15px;
  }
  
  .statistic .statistic--desktop {
    display: none;
  }

  .statistic .statistic--mobile {
    display: flex;
  }
}