.reviewed-research__content {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewed-research__heading {
    margin-top: 0;
    color: #000;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 12px;
    max-width: 600px;
}

.reviewed-research__subheading p {
    margin-top: 0;
    max-width: 600px;
    margin-bottom: 10px;
}

.reviewed-research__subheading p:first-child {
    margin-top: 12px;
}

.reviewed-research__subheading p:last-child {
    margin-bottom: 0;
}

.reviewed-research__subheading {

    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.reviewed-research__text-blocks {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 40px;
    position: relative;
    width: 100%;
}

.text-block__subheading {
    color: #005EB8;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;
    letter-spacing: 0;
}

.text-blocks__text-block {
    width: 100%;
    max-width: 368px;
    padding: 12px 18px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    text-decoration: none;
}

.text-blocks__text-block:not(:nth-child(3n+1))::before {
    content: "";
    background: #F1F1F1;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -5%;
}

.text-block__heading {
    margin: 0;
    color: #222;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.text-block__heading p,
.text-block__description p {
    margin-top: 0;
    margin-bottom: 10px;
}

.text-block__heading p:last-child,
.text-block__description p:last-child {
    margin-bottom: 0;
}

.text-block__description {
    color: rgba(0, 0, 0, 0.70);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 4px;
}

.text-blocks__load-more-button {
    text-align: center;
    width: 100%;
    border-radius: 100px;
    background: #005EB8;
    padding: 10px 60px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 40px;
}

.text-blocks__load-more-button:hover {
    cursor: pointer;
}

@media screen and (min-width: 851px) {  
    .text-blocks__text-block:hover {
        box-shadow: 0px 4px 40px 0px rgba(0, 94, 184, 0.10);
    }

    .text-blocks__text-block:not(:nth-child(3n+1))::before {
        content: "";
        background: #F1F1F1;
        width: 1px;
        height: 100%;
        position: absolute;
        left: -5%;
    }

    .text-blocks__load-more-button {
        display: none;
    }

    .text-blocks__text-block:hover::before,
    .text-blocks__text-block:hover + .text-blocks__text-block::before{
        display: none;
    }    

    .text-blocks__text-block:hover {
        box-shadow: 0px 4px 40px 0px rgba(0, 94, 184, 0.10);
    }
}

@media screen and (max-width: 850px) {
    .reviewed-research__text-blocks {
        grid-template-columns: auto;
        row-gap: 49px;
        position: relative;
    }

    .reviewed-research__text-blocks::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 94px;
        background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        left: 0;
        bottom: -5px;
        transition: all .3s;
    }

    .reviewed-research__content--all-shown  .reviewed-research__text-blocks::after {
        display: none;
    }

    .text-blocks__text-block {
        max-width: 100%;
    }

    .reviewed-research__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-blocks__text-block--active {
        box-shadow: 0px 4px 40px 0px rgba(0, 94, 184, 0.10);
    }

    .text-blocks__text-block--active + .text-blocks__text-block::before,
    .text-blocks__text-block--active ~ .text-blocks__text-block::before,
    .text-blocks__text-block--active::before {
        display: none;
    }

    .reviewed-research__heading {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
    }

    .reviewed-research__subheading {
        letter-spacing: 0;
    }

    .text-block__heading {
        letter-spacing: 0;
    }

    .reviewed-research__content:not(.reviewed-research__content--all-shown) .text-blocks__text-block--hidden {
        display: none;
    }

    .reviewed-research__content.reviewed-research__content--all-shown .text-blocks__text-block--hidden {
        display: flex;
    }

    .reviewed-research__content.reviewed-research__content--all-shown .text-blocks__load-more-button {
        display: none;
    }

    .reviewed-research__text-blocks--restricted.reviewed-research__text-blocks::after {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 100%;
        max-height: 94px;
        background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    .reviewed-research__content.reviewed-research__content--all-shown .reviewed-research__text-blocks--restricted.reviewed-research__text-blocks::after {
        display: none;
    }

    .text-blocks__text-block:not(:first-child)::before {
        content: "";
        background: #F1F1F1;
        width: 100%;
        height: 1px;
        position: absolute;
        top: -24px;
        left: 0;
    }
}