.video-reviews__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.video-reviews__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0;
}

.video-reviews__title {
    margin: 0;
}

.video-reviews__subtitle {
    padding: 2px 0;
    color: #005EB8;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-body-family);
    background: #E9F4FF;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.5px;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.video-reviews__text {
    color: rgb(var(--color-foreground));
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-heading-family);
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0;
}

.video-reviews__grid-wrapper {
    display: flex;
    gap: 20px;
}

video-reviews-grid {
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .video-reviews__wrapper {
        gap: 25px;
    }

    .video-reviews__header {
        gap: 10px;
    }

    .video-reviews__subtitle {
        font-size: 18px;
    }

    .video-reviews__text {
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.8px;
    }

    .video-reviews__grid-wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }
}