.account-tabs__wrapper {
    margin: 0 auto;
  }
  
  .account-tabs__title {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
  }
  
  .account-tabs__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .account-tabs__list::-webkit-scrollbar { 
    display: none;
  }
  
  .account-tabs__item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px;
    white-space: nowrap;
  }

  .account-tabs__item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #f1f1f1;
    transition: all .3s;
  }

  .account-tabs__item--active::after {
    background: #005eb8;
  }
  
  .account-tabs__link {
    display: flex;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    transition: color .2s linear;
    color: #c4c4c4;

  }

  .account-tabs__item--active .account-tabs__link{
    color: #005eb8;
  }
  
  @media screen and (min-width: 767px) {
    .account-tabs__list {
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 992px) {
    .account-tabs__title {
      margin: 0 0 30px;
      font-size: 52px;
    }
  
    .account-tabs__link {
      font-size: 24px;
    }
  }