.main-image-banner__content {
    margin-top: calc(-1 * var(--header-height));
    display: flex;
    position: relative;
}

.main-image-banner__text-wrapper {
    max-width: 677px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    z-index: 1;
}

.main-image-banner__heading {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

.main-image-banner__heading p,
.main-image-banner__subheading p {
    margin-top: 0;
    margin-bottom: 10px;
}

.main-image-banner__heading p:last-child,
.main-image-banner__subheading p:last-child {
    margin-bottom: 0;
}

.main-image-banner__subheading {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 443px;
    letter-spacing: 0;
}

.main-image-banner__bottom-content {
    margin-top: 30px;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.bottom-content__button {
    padding: 10px 60px;
    border-radius: 100px;
    background: #005EB8;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #005EB8;
    box-sizing: border-box;
    transition: all .3s;
    gap: 10px;
}

.bottom-content__buttons a + a{
    margin-top: 10px;
}

.bottom-content__button:hover{
    background: #004A91;
    border: 1px solid #004A91;
}

.bottom-content__starts {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    row-gap: 8px;
}

.bottom-content__starts svg{
    display: block;
    margin: 8px auto;
    margin-top: 0;
}

.bottom-content__starts-wrapper {
    color: #FFF;
    text-decoration: none;
}

.main-image-banner__content-video,
.main-image-banner__content-video video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image-banner__content-video::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
}


@media screen and (max-width: 749px) {
    .main-image-banner__text-wrapper {
        gap: 12px;
    }

    .main-image-banner__bottom-content {
        margin-top: 48px;
        flex-direction: column;
        gap: 18px;
        max-width: 335px;
    }

    .bottom-content__starts {
        display: flex;
        justify-content: space-between;
        padding: 0 6px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        gap: 5px;
    }

    .bottom-content__starts svg {
        max-width: 113px;
        height: auto;
    }

    .bottom-content__button {
        justify-content: center;
    }

    .main-image-banner__text-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-image-banner__heading {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
    }
}