.quiz__content-wrapper {
    min-height: var(--app-height);
}

.quiz-item__content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 640px;
}

.quiz-item__question {
    margin-top: 0;
    margin-bottom: 24px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.quiz-item__content .metafield-rich_text_field,
.quiz-item__options,
.content__quiz-navigation,
.content__quiz-pagination{
    padding: 0 20px;
}
.quiz-item__content .metafield-rich_text_field p {
    margin-top: 0;
    margin-bottom: 10px;
}

.quiz-item__content .metafield-rich_text_field p:last-child {
    margin-bottom: 0;
}

.quiz-item__description {
    width: 100%;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}

.quiz-item__label {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    transition: all .3s;
    padding: 10px 24px 10px 15px;
}

.quiz-item__label:hover {
    cursor: pointer;
}

.option-item__input {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.quiz-item__options {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 600px;
    align-items: center;
}

.quiz-item__option-item {
    border-radius: 8px;
    display: flex;
    width: calc(100% - 40px);
    max-width: 600px;
    border: 1px solid #F1F1F1;
    transition: all .3s;
}

.quiz-item__option-item:hover {
    cursor: pointer;
}

.quiz__quiz-item {
    display: flex;
    justify-content: center;
}

.quiz-item__option-item--active {
    border: 1px solid #005EB8;
    background: rgba(0, 94, 184, 0.10);
}

.quiz-item__option-item--active .quiz-item__label {
    color: #005EB8;
}

.content__quiz-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 40px auto;
    height: 60px;
    align-items: center;
}

.quiz-navigation__button--previous {
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #005EB8;
    max-width: 48px;
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-navigation__button--previous svg path {
    fill: rgba(0, 94, 184, 1);
}

.content__quiz-pagination {
    max-width: 600px;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    border-radius: 10px;
}

.quiz-navigation__button--next {
    width: calc(100% - 48px - 24px);
    height: 100%;
    border-radius: 100px;
    border: 1px solid #005EB8;
    display: flex;
    background: #005EB8;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: all .3s;
    position: relative;
}

.quiz-navigation__button--next:hover,
.quiz-navigation__button--previous:hover {
    cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    transition: all .3s;
}

.content__quiz-pagination {
    justify-content: space-between;
    display: flex;
}

.quiz-navigation__button--next:hover {
    background: #004A91;
}

.quiz-navigation__button--submit-text {
    display: none;
}

.quiz-navigation__button--next.swiper-button-disabled .quiz-navigation__button--submit-text {
    display: block;
}

.quiz-navigation__button--next.swiper-button-disabled .quiz-navigation__button--next-text {
    display: none;
}

.quiz-navigation__button--disabled {
    pointer-events: none;
    opacity: .5;
}