.beetroot-image-text__wrapper {
  padding: 60px 0 42px;
  background-color: var(--background-color);
}

.beetroot-image-text__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.beetroot-image-text__container > *:not(:last-child) {
  margin: 0 0 14px;
}

.beetroot-image-text__container .beetroot-image-text__image {
  margin: 0;
  position: relative;
  order: 3;
}

.beetroot-image-text__image:before {
  content: '';
  display: block;
  padding-top: 120.8%;
}

.beetroot-image-text__image svg,
.beetroot-image-text__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beetroot-image-text__title {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
}

.beetroot-image-text__text > * {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.beetroot-image-text__accent-text > * {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

@media screen and (min-width: 990px) {
  .beetroot-image-text__container {
    grid-template-columns: 1fr 1fr;
  }

  .beetroot-image-text__container > *:not(:last-child) {
    margin: 0 0 24px;
  }

  .beetroot-image-text__container > * {
    grid-column: 2;
    font-size: inherit;
    line-height: inherit;
  }

  .beetroot-image-text__container .beetroot-image-text__image {
    grid-row: 1 / span 10;
    grid-column: 1;
    align-self: start;
    margin: 0;
  }

  .beetroot-image-text__title {
    font-size: 40px;
    line-height: 60px;
  }

  .beetroot-image-text__text > * {
    font-size: 20px;
  }

  .beetroot-image-text__accent-text > * {
    font-size: 24px;
    margin-top: 40px !important;
  }
}