.video-reviews {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.video-reviews--new 

.video-reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-reviews__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.video-reviews__rating {
  width: 134px;
  height: 23px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.video-reviews__rating--filled:empty {
  display: block;
}

.video-reviews__rating--filled {
  height: 100%;
  background-repeat: no-repeat;
}

.video-reviews__title {
  font-family: Raleway;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #000;
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
}

.video-reviews__subtitle {
  color: #005EB8;
  text-align: center;
  font-family: "Crimson Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
  text-wrap: balance;
}

.video-reviews__text--heading-style {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
}

.video-reviews__text {
  font-family: var(--poppins-font--regular);
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--color--text-secondary);
  margin: 15px 0 0;
}

.video-reviews__grid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-reviews__grid-wrapper {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.video-reviews--new .video-reviews__grid-wrapper {
  gap: 20px;
}

.video-reviews__load-more {
  margin-top: 40px;
  width: 220px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #7b6b5d;
  font-family: Europa;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #7b6b5d;
  background: transparent;
  cursor: pointer;
  transition: all .3s ease;
}

.video-reviews__load-more:hover,
.video-reviews__load-more.load-more--loading {
  color: #fff;
  background: #7b6b5d;
}

/* Preloader */
/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  width: 24px;
  aspect-ratio: 2;
  --position: no-repeat radial-gradient(circle closest-side,#FFF 90%,#0000);
  background:
    var(--position) 0%   50%,
    var(--position) 50%  50%,
    var(--position) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: dotsBounce 1s infinite linear;
}

.video-reviews__load-more.load-more--loading .loader {
  display: block;
}

.video-reviews--index .video-review__controls svg {
 width: 72px;
 position: relative;
 z-index: 3;
}

.video-reviews--index .video-review__controls svg rect {
  stroke: #E2C4B2;
}

.video-reviews--index .video-review__controls::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background: linear-gradient(0deg, #000 20.07%, rgba(0, 0, 0, 0.00) 100%);
}

.video-reviews--index .video-review.video--played .video-review__controls::before {
  opacity: 0;
}

.video-reviews--index .video-reviews__grid-wrapper {
  gap: 10px;
}

.video-reviews--index .video-review {
  border-radius: 16px;
  max-width: 248px;
}

@keyframes dotsBounce {
  20%{background-position:0%   0%, 50%  50%,100%  50%}
  40%{background-position:0% 100%, 50%   0%,100%  50%}
  60%{background-position:0%  50%, 50% 100%,100%   0%}
  80%{background-position:0%  50%, 50%  50%,100% 100%}
}

@media screen and (max-width: 768px) {
  .video-reviews__wrapper {
      padding-right: 20px;
      padding-left: 20px;
  }

  .video-reviews--new .video-reviews__grid-wrapper {
    gap: 10px;
  }

  .video-reviews__header {
      margin-bottom: 24px;
  }

  .video-reviews__title {
      font-size: 24px;
      line-height: 32px;
  }

  .video-reviews__subtitle {
      font-size: 32px;
      line-height: 40px;
  }

  .video-reviews__text--heading-style {
    font-size: 32px;
    line-height: 40px;
  }

  .video-reviews__text {
      font-size: 16px;
  }

  .video-reviews__grid-wrapper {
      gap: 14px;
  }

  .video-reviews__grid-wrapper:not(:has(> div:nth-child(6))) > div:nth-child(5) {
      display: none;
  }

  .video-reviews__load-more {
      margin-top: 25px;
  }
}