.quiz-results__heading {
    margin-top: 0;
    margin-bottom: 18px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.quiz-results__heading p,
.quiz-results__subheading p,
.result-item__heading p,
.result-item__subheading p {
    margin-top: 0;
    margin-bottom: 10px;
}

.quiz-results__heading p:last-child,
.quiz-results__subheading p:last-child,
.result-item__heading p:last-child,
.result-item__subheading p:last-child {
    margin-bottom: 0;
}

.quiz-results__subheading {
    text-align: center;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.quiz-results__results {
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.results__result-item {
    display: flex;
    justify-content: space-between;
}

.result-item__rate,
.result-item__text {
    max-width: calc(50% - 20px);
}

.result-item__rate {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.result-item__rate-item {
    flex: 1;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    max-height: 24px;
    height: 100%;
    background: #F9F9F9;
}

.results__result-item--1 .result-item__rate-item:first-child {
    border-radius: 20px;
    border: 1px solid #F00;
    background: rgba(255, 0, 0, 0.10);
}

.results__result-item--2 .result-item__rate-item:not(:last-child) {
    border-radius: 20px;
    border: 1px solid #FCB131;
    background: rgba(252, 177, 49, 0.20);
}

.results__result-item--3 .result-item__rate-item {
    border-radius: 20px;
    border: 1px solid #38fc31;
    background: rgba(49, 252, 76, 0.2);
}

.result-item__heading {
    color: #222;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 14px;
}

.result-item__subheading {
    color: rgba(0, 0, 0, 0.70);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    .results__result-item {
        flex-direction: column;
        gap: 24px;
    }

    .result-item__rate,
    .result-item__text {
        max-width: 100%;
    }

    .result-item__rate-item{
        min-height: 24px;
    }
}