.list-icons__container {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.list-icons__title {
  margin-bottom: 48px;
}

.list-icons__title * {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;

  margin: 0;
}

.list-icons__title em {
  color: #005EB8;
  font-style: italic;
  font-weight: 600;
}

.list-icons__group {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 80px;

  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 40px;
  padding-left: 55px;
  padding-right: 55px;
}

.list-icons__icon {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
}

.list-icons__icon svg,
.list-icons__icon img {
  width: 100%;
  height: 100%;
}

.list-icons__additional-group {
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.list-icons__additional-icon {
  width: 100%;
  height: 51px;
}

.list-icons__additional-icon img {
  width: auto;
  height: 100%;
}

.list-icons__richtext {
  padding-left: 15px;
  padding-right: 15px;
}

.list-icons__richtext *{
  color: #666;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  letter-spacing: 0;
}

.list-icons__richtext strong {
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .list-icons__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .list-icons__title * {
    font-size: 28px;
    line-height: 36px;

    margin-bottom: 24px;
  }

  .list-icons__group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 24px;
  }
  .list-icons__item {
    flex: 1 0 calc(100% / 3 - 24px * 2 / 3);
    display: flex;
    justify-content: center;
  }

  .list-icons__item:nth-child(4) {
    justify-content: right;
  }

  .list-icons__item:nth-child(5){
    justify-content: left;
  }

  .list-icons__additional-group {
    flex-direction: column;
  }

  .list-icons__richtext {
    padding: 0;
  }

  .list-icons__richtext * {
    font-size: 18px;
    line-height: 28px;
  }
}