.guarantee__wrapper{
    display: flex;
    background: var(--background-color);
    padding: 12px;
    align-items: center;
    gap: 24px;
}
.guarantee__media img{
    width: 100%;
    height: 100%;
}
.guarantee__media{
    max-width: 180px;
    width: 100%;
}
.guarantee h2{
    color: #000;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    margin-bottom: 14px;
}
.guarantee__text{
    color: #000;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.guarantee__text > *:first-child{
    margin-top: 0;
}
.guarantee__text > *:last-child{
    margin-bottom: 0;
}
@media screen and (max-width: 750px) {
    .guarantee__wrapper{
        display: block;
        padding: 12px 18px;
    }
    .guarantee__media{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .guarantee h2{
        text-align: center;
    }
}