.new-hero-banner {
  margin-top: calc(-1 * var(--header-height) - 1px);
}

.new-hero-banner__wrapper {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  background: var(--background);
  color: #fff;
}

.new-hero-banner__wrapper--full {
  min-height: calc(100dvh - 49px);
}

.new-hero-banner__wrapper--full {
  display: flex;
  flex-direction: column;
}

.new-hero-banner__wrapper--full .new-hero-banner__container {
  display: flex;
  flex: 1;
  align-items: stretch;
  position: relative;
  top: auto;
  left: auto;
  transform: translate(0);
}

.new-hero-banner__wrapper--full .new-hero-banner__content {
  position: relative;
  top: auto;
  left: auto;
  transform: translate(0);
}

.new-hero-banner__wrapper--adapt::before {
  content: '';
  display: block;
  padding-top: var(--ratio-percent);
}

.new-hero-banner__wrapper--custom {
  height: var(--banner-custom-height);
  min-height: var(--banner-custom-height);
  max-height: var(--banner-custom-height);
}

.new-hero-banner__wrapper > picture,
.new-hero-banner__wrapper .new-hero-banner__image,
.new-hero-banner__wrapper .new-hero-banner__video,
.new-hero-banner__wrapper .new-hero-banner__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-hero-banner__video-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--overlay-opacity, 0));
}

.new-hero-banner__container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.new-hero-banner__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: var(--content-horizontal-position);
  justify-content: var(--content-vertical-position);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: var(--content-max-width, 910px);
}

.new-hero-banner__content .title-block {
  font-weight: 600;
}

.new-hero-banner__content .title-block * {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-wrap: balance;
}

.new-hero-banner .button-block {
  white-space: nowrap;
}

.new-hero-banner .container-icons-block {
  position: absolute;
  max-width: calc(100% - 10rem);
  left: 5rem;
  bottom: 64px;
}

@media screen and (max-width: 1200px) and (min-width:500px) {
  .new-hero-banner__wrapper:not(.new-hero-banner__wrapper--custom) .new-hero-banner__container,
  .new-hero-banner__wrapper:not(.new-hero-banner__wrapper--custom) .new-hero-banner__content {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }

  .new-hero-banner__wrapper--adapt:before {
    content: none;
  }
}

@media screen and (max-width:749px) {
  .new-hero-banner__wrapper--custom {
    height: var(--banner-custom_height_mobile);
    min-height: var(--banner-custom_height_mobile);
    max-height: var(--banner-custom_height_mobile);
  }

  .new-hero-banner .reviews-text-block {
    flex-direction: column;
  }

  .new-hero-banner__content .title-block br,
  .new-hero-banner__content .richtext-block br {
    display: none;
  }

  .new-hero-banner .container-icons-block {
    max-width: calc(100% - 28px);
    left: 14px;
    bottom: 64px;
  }
}

@media screen and (max-width: 499px) {
  .new-hero-banner__wrapper--adapt::before {
    content: '';
    display: block;
    padding-top: var(--ratio-percent-mobile);
  }
}