.action-link__wrapper {
  max-width: 840px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.action-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 60px;
  border-radius: 100px;
  background: #005EB8;
  box-shadow: 0px 4px 20px 0px rgba(0, 94, 184, 0.20);

  text-decoration: none;
}

.action-link:hover {
  background-color: #0f74d5;
}

.action-link__title--mobile {
  display: none;
}

.action-link__icon {
  width: 32px;
  height: 32px;
}

.action-link img {
  width: 100%;
  height: 100%;
}

.action-link__title * {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;

  margin: 0;
}

.action-link__richtext * {
  color: #666;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin: 0;
}

.action-link__richtext strong {
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 768px) {

  .action-link__title--desktop {
    display: none;
  }

  .action-link__title--mobile {
    display: block;
  }

  .action-link {
    padding: 14px 24px;
  }

  .action-link__richtext * {
    font-size: 18px;
  }
}