.why-folqs__wrapper {
  background-color: #FFF;
}

.why-folqs {
  max-width: 1200px;
  margin: 0 auto;
}

.why-folqs__header {
  text-align: center;
  margin-bottom: 40px;
}

.why-folqs__benefits-table {
  padding: 0px 110px;
}

.why-folqs__benefits-table table {
  width: 100%;
}

.why-folqs__benefits-table th {
  color: #FFF;
  font-family: "Crimson Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.why-folqs__benefits-table th,
.why-folqs__benefits-table td {
  width: 25%;
}

.why-folqs__benefits-table th img {
  width: 100%;
  height: auto;
}

.benefits-table__main-product p {
  font-weight: 600;
  color: #56B529;
}

.benefits-table__main-product {
  width: 100%;
  height: auto;
}

.why-folqs__wrapper--mushroom .why-folqs__benefits-table tr:nth-child(even) td {
  background-color: #F9F9F9;
}

.why-folqs:has(.why-folqs__benefits-table--custom) * {
  font-family: var(--font-dm-sans) !important;
}

.why-folqs__wrapper--mushroom .why-folqs__benefits-table.why-folqs__benefits-table--custom tr:nth-child(even) td {
  background-color: var(--table-td);
}

.why-folqs__wrapper--mushroom .why-folqs__benefits-table tr:nth-child(odd) td {
  background-color: #FFF;
}

.why-folqs__wrapper--mushroom .why-folqs__benefits-table tr td:nth-child(2) {
  background-color: #00A30B;
}

.why-folqs__wrapper--mushroom .why-folqs__benefits-table tbody tr:nth-child(2n) td:nth-child(2) {
  background-color: #1AAC23;
}

.why-folqs__wrapper--mushroom .benefits-table__main-product:before {
  background-color: #00A30B;
}

.why-folqs__benefits-table td:first-child {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #000000;
  padding: 16px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 16px;
}

.why-folqs__benefits-table tr td:not(:first-child) {
  text-align: center;
}

.why-folqs__benefits-table tr td:last-child {
  padding-right: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.benefits-table__cost td:nth-child(2) {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  color: #56B529;
}

.benefits-table__cost td:nth-child(3),
.benefits-table__cost td:nth-child(4) {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #404040;
}

.why-folqs__header {
  margin-bottom: 40px;
}

.why-folqs__benefits-table tr td:nth-child(2) {
  background-color: #736253;
  color: #fff;
}

.why-folqs__benefits-table tbody tr:nth-child(even) {
  background-color: #fff;
  border-radius: 10px;
}

.why-folqs__benefits-table tbody td {
  padding: 14px 20px;
}

.why-folqs__benefits-table tr:last-child td:nth-child(2) {
  border-radius: 0 0 10px 10px;
}

.why-folqs__benefits-table tr td:first-child {
  border-radius: 10px 0 0 10px;
}

.why-folqs__benefits-table tr td:last-child {
  color: var(--other-brand-svg);
  border-radius: 0 10px 10px 0;
}

.benefits-table__main-product {
  position: relative;
}

.benefits-table__main-product img,
.benefits-table__main-product p {
  position: relative;
  z-index: 2;
}

.benefits-table__main-product::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.benefits-table__main-product p {
  color: #fff;
}

.why-folqs__benefits-table th:first-child {
  position: relative;
}

.benefits-table__best-choise-badge {
  position: absolute;
  top: 15%;
  right: 0;
  width: 68%;
  min-width: 100px;
}

.benefits-table__best-choise-badge img {
  width: 100%;
  height: auto;
}

.benefits-table__checkmark-text {
  color: var(--text, #000);
  text-align: center;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 12px 0 0;
}

.why-folqs__button {
  max-width: 300px;
  margin: 40px auto 0;
  height: 56px;
}

.product-compare-table .why-folqs__wrapper {
  position: relative;
  background-color: transparent;
}

.product-compare-table .why-folqs {
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.product-compare-table .why-folqs__header :is(h1, h2, h3, h4) {
  font-family: Raleway;
  font-weight: 500;
  color: var(--text, #000);
  text-align: center;
  font-style: normal;
  line-height: 130%;
}

.product-compare-table .why-folqs__header h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 4px;
}

.why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__header h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.product-compare-table .why-folqs__header h3 {
  color: #005EB8;
  text-align: center;
  font-family: "Crimson Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}

.product-compare-table .why-folqs__header span {
  display: inline-block;
  margin-bottom: 12px;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "DM Sans";
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: var(--label-color);
  background-color: color-mix(in srgb, var(--label-color) 10%, transparent);
  padding: 2px 0;
}

.product-compare-table .why-folqs__header p {
  color: var(--text, #100F0F);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 auto 20px;
  max-width: 736px;
}

.product-compare-table .why-folqs__benefits-table tr th.benefits-table__main-product,
.product-compare-table .why-folqs__benefits-table tr td:nth-child(2) {
  max-width: 220px;
  width: 220px;
  padding: 0 20px;
}

.product-compare-table .why-folqs__benefits-table tr td:not(:first-child),
.product-compare-table .why-folqs__benefits-table tr th:not(:first-child) {
  max-width: 280px;
  width: 280px;
  padding: 0 8px;
}

th.benefits-table__main-product~th .benefits-table__other-product img {
  width: 120px;
  max-width: 120px;
  margin: 0 auto;
}

.product-compare-table .why-folqs__benefits-table table {
  box-shadow: none;
}

.why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__benefits-table table {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.product-compare-table .why-folqs__benefits-table tr th,
.product-compare-table .why-folqs__benefits-table tr td {
  border: none;
}

.why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__benefits-table th p,
.why-folqs:has(.why-folqs__benefits-table--custom) .benefits-table__main-product p {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.product-compare-table .why-folqs__benefits-table tr th:first-child,
.product-compare-table .why-folqs__benefits-table tr td:first-child {
  width: auto;
  padding: 14px 20px;

  color: var(--text, #100F0F);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.product-compare-table .why-folqs__benefits-table tr.benefits-table__cost td {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.product-compare-table .benefits-table__best-choise-badge {
  right: 20px;
  width: 55.5%;
}

.product-compare-table .why-folqs__benefits-table tr:nth-child(odd) td {
  background-color: #fff;
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr:nth-child(odd) td {
  background-color: var(--table-td-odd);
}

.product-compare-table .why-folqs__benefits-table tr td:nth-child(2) {
  background-color: #1AAC23;
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) {
  background-color: var(--main-product-background);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) {
  color: var(--main-product-svg);
  border-bottom: 1px solid color-mix(in srgb, var(--table-borders) 30%, transparent);
}

.product-compare-table .why-folqs__benefits-table tbody tr:nth-child(2n) td:nth-child(2) {
  background-color: #00A30B;
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tbody tr:nth-child(2n) td:nth-child(2) {
  background-color: var(--main-product-background);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) svg {
  fill: var(--main-product-svg);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) svg circle {
  stroke: var(--main-product-svg);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) svg path {
  stroke: var(--main-product-background);
}

.product-compare-table .benefits-table__main-product:before {
  background-color: #00A30B;
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:last-child svg {
  fill: var(--other-brand-svg);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:last-child svg circle {
  stroke: var(--other-brand-svg);
}

.product-compare-table .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:last-child svg path {
  stroke: #fff;
}

.product-compare-table .why-folqs__benefits-table--custom .benefits-table__main-product:before {
  background-color: var(--main-product-background);
}

.why-folqs__benefits-table tbody tr:nth-child(2n) {
  background-color: transparent;
}

.why-folqs__benefits-table.why-folqs__benefits-table--custom tbody tr {
  border-bottom: 1px solid var(--table-borders);
}

.product-compare-table .why-folqs__benefits-table th p,
.benefits-table__main-product p {
  font-family: "Crimson Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 4px 0 14px;
  color: #000;
}

.product-compare-table .why-folqs__benefits-table th.benefits-table__main-product p {
  color: #fff;
}

.product-compare-table .why-folqs__benefits-table th:not(.benefits-table__main-product) {
  position: relative;
}

.product-compare-table .why-folqs__benefits-table th:not(.benefits-table__main-product) .benefits-table__other-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-table__deco-image {
  position: absolute;
  top: var(--position-y);
  max-width: var(--max-width);
  left: var(--position-x);
}

.benefits-table__deco-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.reviews-block__cta-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  margin-top: 40px;
}

.rating-block__stars {
  width: 92px;
}

.rating-block__stars svg {
  width: 100%;
  height: auto;
  display: block;
}

.rating-block__text,
.rating-block__text--mobile {
  color: rgb(var(--color-foreground));
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-body-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  text-shadow: var(--text-shadow, unset);
}

.rating-block__text--mobile {
  display: none;
}

.cta-block__button,
.button-block__button {
  height: 55px;
  display: flex;
  gap: 12px;
  min-width: 360px;
  border-radius: 60px;
  font-family: var(--font-body-family);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
}

.button__text-mobile {
  display: none;
}

.cta-block__button::after,
.button-block__button::after {
  border-radius: 60px;
}

*.image-with-text-block__list-with-icons {
  margin-top: 25px;
}

.image-with-text-block__list-with-icons {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.list-with-icons__item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.list-with-icons__icon {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 100%;
  padding: 10px;
}

.list-with-icons__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.list-with-icons__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-with-icons__title {
  margin: 0;
  color: rgb(var(--color-foreground));
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--font-body-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.list-with-icons__text {
  color: rgb(var(--color-foreground));
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-body-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}

.list-with-icons__text p {
  margin: 0;
}

.list-with-icons__text p strong {
  color: #005eb8;
  background-color: #D8ECFF;
  font-weight: 400;
}

.list-with-icons__text p:not(:last-child) {
  margin-bottom: 10px;
}

.image-with-text-block__header--mobile {
  display: none;
}

.image-with-text-list__button-block {
  position: relative;
  z-index: 2;
}

.image-with-text-list__button-block:has(.button-block__reviews) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.button-block__reviews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
  row-gap: 4px;
  width: fit-content;
  max-width: 210px;
}

.button-block__reviews--bold .rating-block__text {
  font-weight: 700;
}

.button-block__reviews .rating-block__text,
.button-block__reviews .rating-block__text--mobile {
  flex: 1 1 100%;
}

@media screen and (max-width: 1024px) {
  .benefits-table__deco-image {
    display: none;
  }
}

@media screen and (max-width:950px) {
  .why-folqs__benefits-table {
    padding: 0px 15px;
  }

  .product-compare-table .why-folqs__benefits-table tr td,
  .product-compare-table .why-folqs__benefits-table tr th {
    width: 33.333% !important;
    max-width: 33.333% !important;
    min-width: auto;
  }
}

@media screen and (max-width:768px) {

  .why-folqs__wrapper {
    border-radius: 24px 24px 0px 0px;
  }

  .why-folqs__header h2 {
    font-size: 28px;
    line-height: 34px;
  }

  .why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__header h2 {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 12px;
    letter-spacing: -0.8px;
  }

  .why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__header p {
    font-size: 15px;
  }

  .why-folqs__header h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .why-folqs__header {
    margin-bottom: 30px;
  }

  .why-folqs__benefits-table {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .why-folqs__benefits-table th {
    font-size: 13px;
    line-height: 15.6px;
    padding: 0px 3px;
    padding-bottom: 15px;
  }

  .why-folqs__benefits-table tr td:first-child {
    padding: 12px 0px;
    font-size: 13px;
    line-height: 16.9px;
    border-radius: 0;
    padding-left: 10px;
  }

  .why-folqs__benefits-table tr td:last-child {
    border-radius: 0;
    padding-right: 10px;
  }

  .benefits-table__cost td:not(:first-child) {
    font-size: 16px;
    line-height: 20.8px;
  }

  .why-folqs__header h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 12px;
  }

  .why-folqs__header p {
    font-size: 15px;
  }

  .why-folqs__header {
    margin: 0 0 24px;
  }

  .why-folqs__button {
    max-width: 100%;
    margin: 25px auto 0;
    height: 50px;
  }

  th.benefits-table__main-product~th .benefits-table__other-product img {
    width: 65%;
  }

  .product-compare-table .why-folqs__benefits-table tr th.benefits-table__main-product {
    padding: 0 !important;
  }

  .why-folqs__benefits-table th.benefits-table__main-product img {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }

  .benefits-table__best-choise-badge {
    top: 0;
    min-width: 95px;
  }

  .product-compare-table .why-folqs__benefits-table th p,
  .benefits-table__main-product p {
    font-size: 18px;
    line-height: 20px;
  }

  .why-folqs:has(.why-folqs__benefits-table--custom) .why-folqs__benefits-table th p,
  .why-folqs:has(.why-folqs__benefits-table--custom) .benefits-table__main-product p {
    font-size: 16px;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: -0.5px;
  }

  .product-compare-table .why-folqs__benefits-table tr.benefits-table__cost td:first-child,
  .product-compare-table .why-folqs__benefits-table tr th:first-child,
  .product-compare-table .why-folqs__benefits-table tr td:first-child {
    font-size: 14px;
    line-height: 20px;
  }

  .product-compare-table .why-folqs__benefits-table tr.benefits-table__cost td {
    font-size: 16px;
    line-height: 28px;
  }

  .product-compare-table .why-folqs__header h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .product-compare-table .why-folqs__header h3 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }

  .why-folqs+.reviews-block__cta-block .rating-block__text--mobile {
    display: block;
  }

  .reviews-block__cta-block {
    width: 100%;
    margin-top: 30px;
  }

  .cta-block__button {
    max-width: none;
  }
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header span {
  margin-bottom: 10px;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header h2 {
  letter-spacing: -1px;
  color: #101828;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header p {
  letter-spacing: -.16px;
  color: #394152;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header p.mobile {
  display: none;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr th:first-child,
.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr td:first-child {
  padding: 16px;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: normal;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2),
.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr td:last-child {
  letter-spacing: normal;
}


.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__benefits-table th img {
  max-width: 200px;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 th.benefits-table__main-product~th .benefits-table__other-product img {
  width: 100%;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 span.cost-mob {
  display: none;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .image-with-text-list__rating-block {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .image-with-text-list__rating-block .rating-block__image {
  width: 65.33333587646484px;
  height: 28px;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .image-with-text-list__rating-block .rating-block__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .image-with-text-list__rating-block .rating-block__text {
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header span {
    font-size: 18px;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header h2 {
    letter-spacing: -0.8px;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header p {
    letter-spacing: 0;
    margin-bottom: 25px;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header p.mobile {
    display: block;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__header p.mobile+p {
    display: none;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__benefits-table th img {
    max-width: 97px;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr th:first-child,
  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr td:first-child {
    padding: 13px 10px;
    font-size: 14px;
    line-height: 140%;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 span.cost-mob {
    display: inline;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 span.cost-mob+span {
    display: none;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .reviews-block__cta-block {
    padding: 0 10px !important;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .image-with-text-list__rating-block .rating-block__text {
    display: none;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .reviews-block__cta-block .cta-block__button {
    width: 100%;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2),
  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr td:last-child {
    vertical-align: middle;
  }

  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 .why-folqs__benefits-table.why-folqs__benefits-table--custom tr td:nth-child(2) svg,
  .product-compare-table .why-folqs__wrapper.why-folqs__wrapper-v3 tr td:last-child svg {
    position: relative;
    top: 3.5px;
  }
}