.landing-compared h2{
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    margin-bottom: 67px;
}

.landing-compared .page-width{
    max-width: 970px;
}

.landing-compared img{
    width: 100%;
    height: auto;
    margin-bottom: 54px;
}

.landing-compared__rows{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
}

.landing-compared__rows li{
    display: contents;
}

.landing-compared__rows li:not(:last-child) > *:last-child{
    color: #fff
}

.landing-compared__rows li > *{
    padding-bottom: 13px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 14px;
}

.landing-compared__rows li > *:first-child .icon-compare-true path{
    fill: #606060;
}

.row-state__wrapper{
    border-radius: 100px;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    padding: 0 20px;
}

.row-state__wrapper svg{
    width: 20px;
}

.landing-compared__row-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-compared__button{
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    border-radius: 100px;
    background: #FF6A13;
    padding: 10px;
    max-width: 565px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.landing-compared__bottom{
    display: flex;
    gap: 4px;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.landing-compared__bottom img{
    width: 18px;
    height: auto;
    margin: 0;
}


@media screen and (max-width: 750px) {
    .landing-compared__rows{
        font-size: 18px;
        line-height: 28px; /* 155.556% */
    }

    .row-state__wrapper{
        min-height: 42px;
        padding: 0 13px;
    }

    .row-state__wrapper svg{
        width: 15px;
    }

    .landing-compared__rows li > *:first-child{
        text-align: left;
    }

    .landing-compared__rows li > *:last-child{
        text-align: right;
    }

    .landing-compared__button{
        margin-top: 20px;
        font-size: 18px;
    }

    .landing-compared h2{
        font-size: 32px;
        line-height: 42px; /* 131.25% */
        margin-bottom: 80px;
    }
}