.text-with-icon-list {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}

.text-with-icon-list * {
    margin: 0;
    padding: 0;
}

.text-with-icon-list__wrapper {
    padding: 40px;
    border-radius: 80px;
}

.text-with-icon-list__title {
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #000;
    margin-bottom: 56px;
}

.text-with-icon-list__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.text-with-icon-list__text-with-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-with-icon__icon {
    min-width: 112px;
    min-height: 100px;
    max-width: 112px;
    max-height: 100px;
    margin-bottom: 26px;
}

.text-with-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-with-icon__title {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin-bottom: 12px;
}

.text-with-icon__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000B2;
}

@media screen and (max-width: 990px) {
    .text-with-icon-list {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .text-with-icon-list {
        padding-right: 0px;
        padding-left: 0px;
    }

    .text-with-icon-list__wrapper {
        padding: 40px 20px;
        border-radius: 40px;
    }

    .text-with-icon-list__title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .text-with-icon-list__grid {
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 40px;
    }

    .text-with-icon-list__text-with-icon {
        flex-direction: row;
        align-items: start;
        gap: 26px;
    }

    .text-with-icon__icon {
        min-width: 90px;
        min-height: 80px;
        max-width: 90px;
        max-height: 80px;
        margin-bottom: 0px;
    }

    .text-with-icon__title {
        text-align: left;
        margin-bottom: 8px;
    }

    .text-with-icon__text {
        text-align: left;
    }
}