.comparison-cost {
  font-family: DM Sans;
  background-image: var(--comparison-cost-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;

  & .comparison-cost__container {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 20px;
  }

  & .comparison-cost__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin: 0;
    font-family: DM Sans;
  }

  & .comparison-cost--max-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--comparison-cost-max-width);
  }

  & .comparison-cost__flex {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    background-position: center;
    background: radial-gradient(circle,rgba(0, 94, 184, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  }

  & .comparison-cost__content {
    flex-basis: 20%;

    & .content__heading-wrapper > p {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      line-height: 130%;
      color: var(--comparison-cost-block-heading-color);
    }

    & .content_tag {
      width: fit-content;
      background-color: var(--comparison-cost-block-tag-background);
      color: var(--comparison-cost-block-tag-color);
      padding: 2px 10px;
      border-radius: 50px;
      font-size: 12px;
      font-weight: 600;
      line-height: 150%;
      margin: 0;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .comparison-cost__media-wrapper {
    flex-basis: 60%;
  }

  & .comparison-cost__media {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }

  & .comparison-cost__tagline {
    font-size: 26px;
    line-height: 130%;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    color: var(--comparison-cost-tagline-color);
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0 20px;

    & .comparison-cost__heading {
      font-size: 26px;
    }

    & .comparison-cost__flex {
      padding-top: 30px;
      position: relative;
    }

    & .comparison-cost__content {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & .comparison-cost__media-wrapper {
      flex-basis: 80%;
      margin: auto;
    }

    & .comparison-cost__tagline {
      font-size: 26px;
    }
  }
}