.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 60px;
  padding: 0 60px;
  border-radius: 100px;
  border: 1px solid transparent;
  background: #005eb8;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  letter-spacing: normal;
  transition: all .3s;
  margin: 40px auto 0;
}
.contact__button button:after,
.contact__button button:before{
  content: none;
}
.contact__button button:hover{
  border: 1px solid #004A91;
  background: #004a91;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
