.beetroot-image-with-text-v2-wrapper {
    position: relative;
    overflow: hidden;
}

.beetroot-image-with-text-v2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.beetroot-image-with-text-v2--image-left {
    flex-direction: row;
}

.beetroot-image-with-text-v2--image-right {
    flex-direction: row-reverse;
}

.beetroot-image-with-text-v2__image-wrapper {
    max-width: 580px;
    min-width: 580px;
}

.beetroot-image-with-text-v2__image {
    width: 100%;
    position: relative;
    padding-top: 100%;
}

.beetroot-image-with-text-v2__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 60px;
}

.beetroot-image-with-text-v2__blocks {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.beetroot-image-with-text-v2__title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0;
    font-variant-numeric: lining-nums proportional-nums;

    margin: 0;
    color: #000000;
}

.beetroot-image-with-text-v2__text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
    margin: 0;
    font-variant-numeric: lining-nums proportional-nums;
    color: #000000;
}

.beetroot-image-with-text-v2__text p {
    margin: 0;
}

.beetroot-image-with-text-v2__text p:not(:last-child) {
    margin-bottom: 25px;
}

.beetroot-image-with-text-v2__text strong {
    font-weight: 700;
}

.beetroot-image-with-text-v2__steps {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.beetroot-image-with-text-v2__step {
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0%;
    font-variant-numeric: lining-nums proportional-nums;
    color: #000000;
}

.beetroot-image-with-text-v2__step p {
    margin: 0;
}

.beetroot-image-with-text-v2__step span {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: var(--accent-color);
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
    font-variant-numeric: lining-nums proportional-nums;
}

.beetroot-image-with-text-v2__frontground-icon {
    position: absolute;
    bottom: -133px;
    left: 36%;
    z-index: 10;
}

@media screen and (max-width: 1100px) {
    .beetroot-image-with-text-v2__image-wrapper {
        max-width: 420px;
        min-width: 420px;
    }

    .beetroot-image-with-text-v2 {
        gap: 40px;
    }

    .beetroot-image-with-text-v2__frontground-icon {
        bottom: -160px;
    }
}

@media screen and (max-width: 850px) {
    .beetroot-image-with-text-v2__image-wrapper {
        max-width: 350px;
        min-width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .beetroot-image-with-text-v2 {
        flex-direction: column;
        gap: 24px;
    }

    .beetroot-image-with-text-v2__image-wrapper {
        max-width: 100%;
        min-width: 100%;
    }

    .beetroot-image-with-text-v2__image img {
        border-radius: 35px;
    }

    .beetroot-image-with-text-v2__blocks {
        align-items: center;
        gap: 14px;
    }

    .beetroot-image-with-text-v2__title {
        font-size: 32px;
        line-height: 42px;
        text-align: center;
    }

    .beetroot-image-with-text-v2__text {
        font-size: 16px;
        text-align: center;
    }

    .beetroot-image-with-text-v2__text p:not(:last-child) {
        margin-bottom: 14px;
    }

    .beetroot-image-with-text-v2__steps {
        gap: 24px;
    }
    
    .beetroot-image-with-text-v2__step {
        gap: 12px;
        font-size: 16px;
    }
    
    .beetroot-image-with-text-v2__step span {
        width: 48px;
        height: 48px;
        font-size: 24px;
        line-height: 36px;
    }    

    .beetroot-image-with-text-v2__frontground-icon {
        display: none;
    }
}