.landing-testimonials__wrapper {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.landing-testimonials__title {
  color: #005EB8;
  text-align: center;
  font-family: var(--font-heading-family);
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
}

.landing-testimonials__title * {
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.landing-testimonials__subtitle {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
}

.image-group {
  display: flex;
  gap: 10px;

  margin-top: 40px;
}

.image-group__item {
  flex: 1 1 192px;
}

.image-group__picture {
  position: relative;
  max-width: 192px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.image-group__picture::before {
  content: '';
  display: block;
  padding-top: var(--ratio-percent);
}

.image-group__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.testimonials {
  display: flex;
  gap: 20px;

  margin-top: 40px;
}

.testimonials__item {
  flex: 0 1 calc(50% - 10px);
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.10);

  height: 100%;
}

.testimonial__stars {
  line-height: 0;
}

.testimonial__stars svg {
  width: 120px;
  height: 24px;
}

.testimonial__heading {
  color: #000;
  font-family: var(--font-heading-family);
  font-size: 28px;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 130%;

  margin: 0;
}

.testimonial__content {
  color: rgba(0, 0, 0, 0.70);
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;

  margin: 0;
}

.testimonial__author-content {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: auto;
}

.testimonial__author {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-body-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  margin: 0;
}
.testimonial__verified-badge {
  display: flex;
  align-items: center;
  gap: 4px;
}

.testimonial__verified-badge svg {
  width: 14px;
  height: 14px;
}

.testimonial__verified-text {
  color: #00A30B;
  font-family: var(--font-body-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.landing-testimonials__reviews-line {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 24px 0 0;
}

.landing-testimonials__reviews-line picture {
  line-height: 0;
}

.landing-testimonials__reviews-line-image {
  width: 140px;
  flex: 0 0 140px;
  height: auto;
}

.landing-testimonials__reviews-line-text {
  color: #0A090D;
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin: 0;
}

@media screen and (max-width: 749px) {
  .landing-testimonials__title {
    font-size: 32px;
    line-height: 40px;
  }

  .landing-testimonials__subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .image-group {
    flex-wrap: wrap;

    margin-top: 25px;
  }

  .image-group__item {
    flex: 1 0 calc(100% / 3 - (8px * 2));
  }

  .image-group__picture {
    max-width: 100%;
    max-height: 100%;
  }

  .image-group__picture img {
    border-radius: 6px;
  }

  .testimonials {
    margin-top: 25px;
    flex-direction: column;
    gap: 12px;
  }

  .testimonial {
    padding: 20px;
    gap: 0;
  }

  .testimonial__stars svg {
    width: 90px;
    height: 18px;
  }

  .testimonial__heading {
    font-size: 24px;
    line-height: 130%;

    margin-top: 16px;
  }

  .testimonial__content {
    margin-top: 12px;
  }

  .testimonial__author-content {
    margin-top: 16px;
  }
}

/* Updated style for index template */
.landing-testimonials--new-home-page .testimonial {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #F4F4F4;
  background: linear-gradient(262deg, rgba(245, 245, 245, 0.20) 4.42%, rgba(245, 245, 245, 0.20) 90.32%);
}

.landing-testimonials--new-home-page.landing-testimonials__wrapper {
  max-width: 1380px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.landing-testimonials--new-home-page .testimonial__heading {
  color: #005EB8;
}

.landing-testimonials--new-home-page .image-group__picture {
  max-width: none;
  width: auto;
}

.landing-testimonials--new-home-page .testimonials {
  margin-top: 20px;
  gap: 8px;
}

.landing-testimonials--new-home-page .testimonial__stars svg {
  width: 140px;
  height: auto;
}

@media screen and (max-width: 749px) {
  .landing-testimonials--new-home-page .image-group .image-group__item:nth-child(n + 5) {
    display: none;
  }

  .landing-testimonials--new-home-page .image-group__item {
    flex: 1 0 calc(100% / 2 - 8px);
  }

  .landing-testimonials--new-home-page .testimonial__content {
    margin-top: 16px;
  }

  .landing-testimonials--new-home-page .testimonial__author-content {
    justify-content: space-between;
  }

  .landing-testimonials--new-home-page.landing-testimonials__wrapper {
    padding: 0 14px;
  }

  .landing-testimonials--new-home-page .testimonial__stars svg {
    max-width: 120px;
  }

  .landing-testimonials--new-home-page .testimonial {
    padding: 20px 14px;
  }
}