.benefits * {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.benefits-section {
  background: linear-gradient(360deg, #EEF7FF 70%, rgba(255, 255, 255, 0) 100%);
}

.benefits {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.benefits__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.benefits__header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 749px) {
  .benefits__header {
    margin-bottom: 30px;
  }
}

.benefits__header .benefits__header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 658px;
}


.benefits__header .benefits__header-box .heading {
  width: fit-content;
}

.benefits__header .benefits__header-box .heading > * {
  color: unset;
  font-weight: 600;
}

.benefits__header .benefits__header-box .benefits__header-heading1 {
  margin-bottom: 10px;
}

.benefits__header .benefits__header-box .benefits__header-heading1 > * {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.5px;
  padding: 2px 0;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
}

@media screen and (max-width: 749px) {
  .benefits__header .benefits__header-box .benefits__header-heading1 > * {
    font-size: 18px;
  }
}

.benefits__header .benefits__header-box .benefits__header-heading2 {
  margin-bottom: 20px;
}

.benefits__header .benefits__header-box .benefits__header-heading2 > * {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1px;

}

@media screen and (max-width: 749px) {
  .benefits__header .benefits__header-box .benefits__header-heading2 > * {
    font-size: 26px;
    letter-spacing: -0.8px;
  }
}

.benefits__header .benefits__header-box .benefits__header-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.45px;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
}

@media screen and (max-width: 749px) {
  .benefits__header .benefits__header-box .benefits__header-text {
    font-size: 15px;
  }
}

.benefits__footer .benefits__footer-box {
  position: relative;
  width: 100%;
  display: flex;
  gap: 80px;
}

@media screen and (max-width: 1200px) {
  .benefits__footer .benefits__footer-box {
    gap: 40px;
  }
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box {
    gap: 30px;
  }
}

.benefits__footer .benefits__footer-box > * {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box > * {
    width: 100% !important;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items {
    gap: 16px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item {
  display: flex;
  gap: 14px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
              linear-gradient(301.78deg, rgba(246, 251, 255, 0) 50.67%, #F6FBFF 100%);
  padding: 30px;
  border-radius: 22px;
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item {
    padding: 25px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item {
    flex-direction: column;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 150%;
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item ul li::before {
  content: url("../assets/icon-collage-checkmark.svg");
  display: block;
  width: 18px;
  height: 18px;
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon {
  flex: 0 0 70px;
  height: 70px;
  padding: 16px;
  background-color: #E9F4FF;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon {
    display: none;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon * {
  width: 100%;
  height: 100%;
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon-mobile {
  display: none;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon-mobile {
    display: block;
    height: 28px;
    width: 28px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-icon-mobile * {
  width: 100%;
  height: 100%;
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-title {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.5px;
  vertical-align: middle;
  font-variant-numeric: lining-nums proportional-nums;
  margin-bottom: 10px;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-title {
    font-size: 21px;
    margin-bottom: 14px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0px;
  font-variant-numeric: lining-nums proportional-nums;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text {
    gap: 14px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text ul,
.benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text ul,
  .benefits__footer .benefits__footer-box .benefits__footer-items .benefits__footer-item .benefits__item-content .benefits__item-text ol {
    font-size: 15px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery {
  position: relative;
  display: flex;
  gap: 16px;
  height: fit-content;
  max-width: 560px;
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery {max-width: unset;}
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery {
    gap: 10px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group {
  position: relative;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group {
    gap: 10px;
  }
}


.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group:first-child {
  padding-top: 40px;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group:first-child {
    padding-top: 24px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group:last-child {
  padding-bottom: 40px;
}

@media screen and (max-width: 749px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-group:last-child {
    padding-bottom: 24px;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-item {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
}

@media screen and (max-width: 890px) {
  .benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-item {
    width: 100%;
  }
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-item picture {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  font-size: 0;
}

.benefits__footer .benefits__footer-box .benefits__footer-gallery .benefits__gallery-item picture img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
}