.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  display: block;
  margin-bottom: 40px;
}

.footer-block__text-wrapper .icon-logo path {
  fill: rgba(0, 94, 184, 1);
}

.footer-block__text-wrapper .list-social {
  justify-content: flex-start;
  gap: 8px
}

.footer__blocks-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-block__text-wrapper .link.list-social__link {
  padding: 0;
}

.footer__content-top .footer-block__details-content {
  margin-bottom: 24px;
}

.footer-block__details-content--frame:nth-child(2) {
  margin-top: 0;
}

.footer-block__details-content--frame {
  border: 1px solid rgba(var(--color-foreground), 0.4);
  padding: 10px;
}

.footer__blocks-wrapper .footer-block {
  width: 100%;
}

.footer-block.footer-block--menu {
  display: flex;
}

.footer__content-top .footer__menu-wrapper {
  width: 100%;
  max-width: 220px;
}

.footer__menu-wrapper .list-menu__item {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.footer__menu-wrapper .footer__child-menu-wrapper .footer-block__link {
  color: rgba(0, 0, 0, 0.70);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.newsletter-form__field-wrapper .field__input:focus,
.newsletter-form__field-wrapper .field:hover.field:after {
  box-shadow: none;
}

.newsletter-form__field-wrapper .field__input {
  margin: 0;
  border-radius: 14px;
  border: 1px solid #F1F1F1;
  background: #FFF;
  padding: 10px 14px;
  min-height: 48px;
  font-family: 'Raleway', sans-serif;
}

.newsletter-form__field-wrapper .field__label {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-form__button .icon-arrow path {
  fill: rgba(0, 0, 0, 1);
}

.newsletter-form__field-wrapper .field::after {
  box-shadow: none;
}

.footer__child-menu-wrapper {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-type: none;
}

.footer__content-top .footer-block__details-content {
  color: rgba(0, 0, 0, 0.70);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__content-bottom-wrapper .footer-block__details-content {
  color: rgba(0, 0, 0, 0.50);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer.color-scheme-1 {
  background: #F9F9F9;
}

.footer__content-bottom-wrapper .footer-block__text-wrapper {
  display: flex;
  width: 1200px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  background: #F1F1F1;
}

.footer__content-bottom-wrapper .footer__menu-wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.footer__content-bottom-wrapper .footer__column {
  gap: 24px;
}

.footer__content-bottom-wrapper .footer__menu-wrapper .list-menu__item {
  color: rgba(0, 0, 0, 0.70);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__content-bottom-wrapper .copyright__content,
.footer__content-bottom-wrapper .copyright__content a,
.footer__content-bottom-wrapper .footer__bottom-text-info {
  text-align: right;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: auto;
}

/*klaviyo*/

.footer-block__heading,
.footer .needsclick p {
  color: rgba(0, 0, 0, 0.70);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 0;
}


.footer .needsclick.klaviyo-form.klaviyo-form-version-cid_1{
  padding: 0 !important;
}

.footer .needsclick input.needsclick {
  margin: 0;
  border: 1px solid #F1F1F1 !important;
  background: #fff;
  padding: 10px 14px !important;
  font-family: Raleway, sans-serif !important;
  padding-right: 5rem !important;
  position: relative;
  opacity: 0.7;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none"> <path d="M10.8223 14.366C10.6798 14.366 10.5373 14.3135 10.4248 14.201C10.2073 13.9835 10.2073 13.6235 10.4248 13.406L14.5798 9.25097L10.4248 5.09597C10.2073 4.87847 10.2073 4.51847 10.4248 4.30097C10.6423 4.08347 11.0023 4.08347 11.2198 4.30097L15.7723 8.85347C15.9898 9.07097 15.9898 9.43097 15.7723 9.64847L11.2198 14.201C11.1073 14.3135 10.9648 14.366 10.8223 14.366Z" fill="black"/><path d="M15.2475 9.81348H2.625C2.3175 9.81348 2.0625 9.55848 2.0625 9.25098C2.0625 8.94348 2.3175 8.68848 2.625 8.68848H15.2475C15.555 8.68848 15.81 8.94348 15.81 9.25098C15.81 9.55848 15.555 9.81348 15.2475 9.81348Z" fill="black"/%3E%3C/svg%3E ') 94% / 8% no-repeat;;
}

.footer .needsclick button{
  opacity: 0;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom-wrapper .footer__bottom-text-info {
    text-align: center;
  }
  .footer .grid {
    display: block;
  }

  .footer__content-top .footer-block__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__content-top .footer-block__details-content {
    max-width: 71.8%;
  }

  .footer-block__text-wrapper .icon-logo {
    margin-bottom: 0px;
    max-height: unset;
    max-width: 82px;
  }

  .footer__content-top .footer-block__text-wrapper {
    gap: 24px;
  }

  .footer__content-top .footer-block--menu {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__child-menu-wrapper {
    margin: 24px 0 40px 0;
  }

  .footer__child-menu-wrapper:last-child {
    margin-bottom: 0;
  }

  .footer__menu-wrapper .list-menu__item {
    justify-content: center;
  }

  .footer-block.grid__item {
    gap: 40px;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__content-bottom-wrapper.page-width {
    padding: 0 20px;
  }

  .footer__content-bottom-wrapper .footer-block__text-wrapper {
    padding: 24px 0;
    background: transparent;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0;
  }

  .footer-block__heading {
    text-align: start;
  }

  .footer__content-bottom-wrapper .footer__localization {
    padding: 0;
  }

  .footer-block__details-content {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}


.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
    margin-top: 20px;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }

  .footer__content-bottom.scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
}

.footer__localization:empty+.footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty+.footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 990px) {
  .footer-block__heading,
  .footer .needsclick p {
    font-size: calc(var(--font-heading-scale) * 1.8rem) !important;
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}

.footer__copyright--desktop {
  display: none;
}

.footer__bottom-text-info--desktop {
  display: none;
}

.footer__bottom-text-info p{
 margin: 0;
}

.footer__content-bottom-wrapper--mobile .footer__bottom-text-info {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .footer__content-bottom-wrapper--mobile {
    display: none;
  }

  .footer__copyright--desktop {
    display: block;
  }

  .footer__bottom-text-info--desktop {
    display: block;
  }

  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }

  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {

  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter+.footer__list-social {
    margin-top: 0;
  }
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer__localization {
  padding: 0.4rem 0;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {


  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 989px) {
  .footer__localization noscript {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {

  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright,
  .copyright__content {
    text-align: right;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}


@media screen and (min-width: 750px) {

  .footer-block__details-content>p:not(.footer-block__details-content--frame),
  .footer-block__details-content>li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content>li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {

  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

@media screen and (max-width: 989px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content> :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {

  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
.footer__content-bottom-wrapper--mobile small{
text-align: center !important;
  
}
  .footer__copyright {
    margin-top: 24px;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 2rem;
  overflow: hidden !important;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block__brand-info {
  text-align: left;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child>.footer-block__brand-info>.footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image>img,
.footer-block__brand-info>img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: flex-start;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}


.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

.footer-block:not(:only-child):last-child .footer__list-social {
  justify-content: end;
}

@media screen and (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}