.image-with-benefits__content > *:last-child{
    margin-bottom: 0 !important;
}

.image-with-benefits__media img{
    display: block;
    border-radius: 0px 0px 80px 0px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.image-with-benefits__media-wrapper{
    position: relative;
    padding-bottom: 91%;
}

.image-with-benefits__reviews{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 24px;
}

.image-with-benefits__reviews svg{
    width: 113px;
    height: 20px;
}

.image-with-benefits__content h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px; /* 125% */
    margin: 0;
    margin-bottom: 40px;
}

.image-with-benefits__content h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    margin-bottom: 24px;
}

.image-with-benefits__link{
    display: inline-flex;
    padding: 10px;
    min-width: 335px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-bottom: 80px;
    box-shadow: 0px 4px 20px 0px rgba(0, 94, 184, 0.20);
    border-radius: 100px;
    background: #FF6A13;
    transition: all .3s;
    text-decoration: none;
}

.image-with-benefits__link:has( + h3){
    margin-bottom: 48px;
}

.image-with-benefits__link:hover{
    background: #cf4c00;
}

.image-with-benefits__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-with-benefits__items--list li:not(:last-child){
    margin-bottom: 18px;
}

.image-with-benefits__items li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.image-with-benefits__items img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.image-with-benefits__items--grid{
    display: flex;
    column-gap: 14px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.image-with-benefits__items--grid > li{
    width: calc(50% - 7px);
}

@media screen and (min-width: 768px) {
    .image-with-benefits__wrapper{
        display: flex;
    }

    .image-with-benefits__wrapper > *{
        width: 100%;
        max-width: 50%;
    }

    .image-with-benefits__content{
        padding: 84px 20px 44px 54px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }
}

@media screen and (max-width: 767px) {
    .image-with-benefits__content{
        padding: 24px 20px 0px 20px;
    }

    .image-with-benefits__reviews{
        flex-direction: column;
        align-items: center;
    }
    .image-with-benefits__content h2{
        text-align: center;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 24px;
    }
    .image-with-benefits__link{
        max-width: 360px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .image-with-benefits__media img{
        border-radius: 0;
    }
    .image-with-benefits__media-wrapper{
        padding-bottom: 59%;
    }
    .image-with-benefits__items--grid{
        row-gap: 24px;
    }
}