.landing-product-offer {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1093px;
}

.landing-product-offer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 24px;
}

.landing-product-offer__product-card {
    border-radius: 10px;
    border: 2px solid #CCDFF1;

    background: #FFF;

    width: 100%;
    height: auto;
}

.landing-product-offer__product-card.product-card--highlighted {
    border: 2px solid #005EB8;
    background: rgba(0, 94, 184, 0.10);
}

.landing-product-offer__product-card[data-quantity="1"] {
    border: 2px solid #D9D9D9;
}

.product-card__badge {
    padding: 10px;
    background: rgba(0, 94, 184, 0.20);
    color: #005EB8;

    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px 8px 0 0;
}

.landing-product-offer__product-card.product-card--highlighted .product-card__badge {
    background: #005EB8;
    color: #FFF;
}

.landing-product-offer__product-card[data-quantity="1"] .product-card__badge {
    background: #DBDBDB;
    color: #666;
}

.product-card__title {
    color: #000;

    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    margin-top: 21px;
}

.product-card__image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    margin-top: 21px;
}

.product-card__image img {
    max-width: 100%;
    height: auto;
}

landing-offer-product[data-quantity="1"] .product-card__image img {
    height: 220px;
    width: auto;
}

.product-card__information {
    padding: 0 20px;
    margin-top: 20px;
}

.product-card__price {
    text-align: center;
}

.product-card__price .price--original {
    color: rgba(0, 0, 0, 0.30);

    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
}

.product-card__price .price--per-bag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #005EB8;

    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
}

.product-card__price .price--per-bag > span {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.product-card__price .price--per-serving {
    color: #FF6A13;

    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin-top: 11px;
}

.product-card__additional-info p {
    color: #000;

    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2px;

    margin: 18px 0 0 0;
}

.product-card__buy-now {
    background: rgba(255, 106, 19, 1);
    border-radius: 100px;
    padding: 10px 24px 10px 24px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
    max-height: 60px;
    font-size: 24px;
    font-weight: 700;
    transition: all .3s;

    margin-top: 18px;
    cursor: pointer;
}
  
.product-card__buy-now:hover {
    background: #cf4c00;
}

.product-card__buy-now span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-card__buy-now span svg {
    width: 18px;
    height: 18px;
}

.product-card__buy-usp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

   margin: 18px 0;
}

.product-card__buy-usp img {
    width: 24px;
    height: 24px;
}

.product-card__buy-usp span {
    color: #000;

    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.product-card__recently-sold {
    color: #222;

    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Be Vietnam Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    padding: 11px 0 12px;
    border-top: 1px solid #D9D9D9;
}

/* Preloader */
.product-card__buy-now .preloader {
    display: none;
}

.product-card__buy-now.loading .preloader {
    display: block;
}

.product-card__buy-now.loading .buy-now__text {
    display: none;
}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.lds-ellipsis div {
    display: block;
    position: absolute;
    top: 24.33333px;
    width: 6.33333px;
    height: 6.33333px;
    border-radius: 50%;
    background: #FFF;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 4px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 4px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 16px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}

@media screen and (max-width: 900px) {
    .product-card__buy-now {
        font-size: 18px;
    }
    
    .buy-now__text svg {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .landing-product-offer__wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 21px;
    }

    .landing-product-offer__product-card {
        order: var(--mobile-order);
    }

    .product-card__buy-now {
        font-size: 24px;
    }
    
    .buy-now__text svg {
        display: block;
    }
}