.article-sidebar-menu-wrapper {
    position: relative;
}

.article-sidebar-menu {
    position: absolute;
    left: 0;
    top: var(--article-sidebar-top-position, 10px);
    width: 226px;
    height: 100%;
    transition: ease .3s;
}

.article-sidebar-menu.sidebar--hidden {
    transform: translateY(-40%);
    opacity: 0;
    visibility: hidden;
}

.article-sidebar-menu__title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
    vertical-align: middle;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin: 0;
}

.article-sidebar-menu__anchors-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-sidebar-menu__anchor-link {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-left: 20px;
    transition: color ease .2s;
}

.article-sidebar-menu__anchor-link p{
    margin: 0;
}

.article-sidebar-menu__anchor-link::after {
    content: '●';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    color: #C4C4C4;
    transition: opacity ease .2s;
}

.article-sidebar-menu__anchor-link:hover {
    text-decoration: underline;
}

.article-sidebar-menu__anchor-link.highlighted,
.article-sidebar-menu__anchor-link.highlighted::after {
    color: #005EB8;
    opacity: 1;
}

.article-sidebar-menu__anchor-link:hover::after {
    opacity: 1;
}

.article-menu-mobile {
    display: none;
}

.article-menu-mobile input {
    margin: 0;
    padding: 0;
    z-index: 10;
}

.article-menu-mobile__opener {
    width: calc(100% - 16px);
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 100px;
    gap: 10px;
    background: #005EB8;
    box-shadow: 0px 4px 20px 0px #005EB833;
    padding: 10px;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: fixed;
    bottom: 20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: ease .5s;
}

.article-menu-mobile__opener.article-menu-mobile__opener--visible {
    opacity: 1;
    visibility: visible;
}

.article-menu-mobile__opener input {
    opacity: 0;
    position: absolute;
    inset: 0;
}

.article-menu-mobile__background-layout {
    position: fixed;
    inset: 0;
    background: #000000;
    opacity: .6;
    z-index: 1;
    transition: opacity .2s ease;
}

.article-menu-mobile:has(input[data-article-menu-close]:checked) .article-menu-mobile__background-layout {
    opacity: 0;
    visibility: hidden;
}

.article-menu-mobile__background-layout input {
    opacity: 0;
    position: absolute;
    inset: 0;
}

.article-menu-mobile__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform .3s ease;
    padding: 20px;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-height: 80px;
}

.article-menu-mobile:has(input[data-article-menu-close]:checked) .article-menu-mobile__menu {
    transform: translateY(100%);
}

.article-menu-mobile__heading {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-family: Raleway;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #000000;
}

.article-menu-mobile__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #F9F9F9;
    border-radius: 50px;
    position: relative;
}

.article-menu-mobile__close input {
    opacity: 0;
    position: absolute;
    inset: 0;
}

.article-menu-mobile__close svg {
    width: 12px;
    height: 12px;
}

.article-menu-mobile__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-menu-mobile__link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
    transition: color ease .2s;
}

.article-menu-mobile__link.highlighted {
    color: #005EB8;
}

.article-menu-mobile__link::before {
    content: '●';
    position: absolute;
    left: 0;
    opacity: 0;
    color: #005EB8;
    transition: opacity ease .2s;
}

.article-menu-mobile__link.highlighted::before {
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .article-sidebar-menu-wrapper {
        display: none;
    }

    .article-menu-mobile {
        display: block;
    }
}