.reasons__island {
    max-width: 360px;
}

.reasons__island.swiper-slide,
.swiper-slide .reasons__island-image {
    max-width: 255px;
}

.reasons__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reasons__swiper-wrapper.swiper-wrapper {
    max-width: fit-content;
    height: fit-content;
}

.section__reasons {
    display: flex;
}

.reasons__islands-wrapper {
    margin: 60px 0;
    display: flex;
}

.reasons__islands-wrapper:not(.swiper-wrapper) {
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.reasons__heading,
.reasons__subheading,
.island__heading,
.island__subheading {
    margin: 0;
}

.reasons__heading p,
.reasons__subheading p,
.island__heading p,
.island__subheading p{
    margin-top: 12px;
    margin-bottom: 0;
}

.reasons__bubble-number {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background: #005EB8;
    box-shadow: 0px 4px 20px 0px rgba(0, 94, 184, 0.20);
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.swiper-slide .reasons__island-image {
    margin-bottom: 14px;
}

.reasons__island.swiper-slide .reasons__bubble-number {
    max-width: 20px;
    max-height: 20px;
    font-size: 20px;
    line-height: 28px;
}

.reasons__island {
    position: relative;
}

.reasons__islands-wrapper {
    max-width: 100%;
}

.reasons__island-image {
    border-radius: 100px 100px 100px 20px;
    aspect-ratio: 1;
    object-fit: cover;
    height: auto;
}

.reasons__island.swiper-slide .reasons__island-image {
    border-radius: 80px 80px 80px 20px;
}

.reasons__heading {
    color: #000;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}


.reasons__subheading {
    color: #005EB8;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.reasons__island-image {
    margin-bottom: 22px;
}

.island__heading {
    margin-bottom: 12px;
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.reasons__island.swiper-slide .island__heading {
    font-size: 20px;
    line-height: 28px
}

.island__subheading {
    color: rgba(0, 0, 0, 0.70);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.reasons__button {
    border-radius: 100px;
    background: #005EB8;
    display: flex;
    max-width: 360px;
    height: 60px;
    padding: 10px 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 28px;
    border: 1px solid #005EB8;
    transition: all .3s;
}

.reasons__button:hover {
    color: #005eb8;
    background-color: #fff;
}

.reasons__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}


@media screen and (max-width: 749px) {
    .reasons__wrapper.swiper {
        padding: 0px;
    }

    .reasons__islands-wrapper:not(.swiper-wrapper) {
        gap: 40px;
    }

    .swiper .reasons__island:first-child {
        margin-left: 20px;
    }

    .swiper .reasons__island:last-child {
        margin-right: 20px;
    }

    .reasons__islands-wrapper,
    .reasons__island-image {
        max-width: 100%;
    }

    .reasons__island.swiper-slide .reasons__island-image {
        aspect-ratio: 1;
    }

    .reasons__island.swiper-slide,
    .swiper-slide .reasons__island-image {
        max-width: 232px;
    }

    .reasons__subheading {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .reasons__heading {
        font-size: 32px;
        line-height: 42px;
    }

    .reasons__islands-wrapper {
        margin: 51px 0 0;
        margin-bottom: 0;
    }

    .reasons__button {
        max-width: 335px;
    }

    .reasons__island-image {
        margin-bottom: 12px;
        object-position: center top;
        aspect-ratio: 335 / 200;
    }

    .island__heading {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .island__subheading {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}