.landing-cta__button {
  display: block;
  max-width: 565px;
  margin: 0 auto 18px;
  border-radius: 100px;
  padding: 10px 60px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  background-color: var(--cta-background-color, #FF6A13);
  border: 1px solid var(--cta-background-color, #FF6A13);
  color: var(--cta-text-color, #fff);
  outline: none;
  transition: .3s ease-in-out;
}

.landing-cta__button:hover {
  background-color: var(--cta-text-color, #fff);
  color:  var(--cta-background-color, #FF6A13);
}

.landing-cta__button::before,
.landing-cta__button::after {
  content: none;
}

.landing-cta__usp-container {
  max-width: 565px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.landing-cta__usp {
  display: flex;
  align-items: center;
  gap: 4px;
}

.landing-cta__usp-icon {
  width: 18px;
  height: 18px;
  position: relative;
}

.landing-cta__usp-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-cta__usp-text {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.landing-cta__button--with-secondary-text {
  max-height: 60px;
  max-width: 550px;
  padding: 9px 50px;
  line-height: 1;
  font-size: 20px;
}

.landing-cta__button--secondary-text {
  opacity: .9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}