.results__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 60px;
}

.results__block {
    max-width: 360px;
}

.results__block h2 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 125% */
    margin: 0;
    margin-bottom: 24px;
}

.results__block h3 {
    color: #005EB8;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    font-variant-numeric: lining-nums proportional-nums;
    /* 125% */
    margin: 0;
    margin-bottom: 18px;
}

.results__block p {
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin: 0;
}


.results__block--steps {
    max-width: 57%;
    width: 100%;
}

.results__block--steps p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    margin: 0;
    max-width: 480px;
}

.results__step:not(:last-child) {
    padding-bottom: 50px;
}

.results__step {
    position: relative;
    padding-left: 107px;
    z-index: 1;
}

.results__step:before {
    content: "";
    width: 60px;
    height: 60px;
    border: 2px solid #005EB8;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;
}


.results__step:not(:last-child):after {
    content: "";
    width: 2px;
    height: 100%;
    background: #005EB8;
    position: absolute;
    left: 29px;
    top: 0;
}

.block__title--mobile {
    display: none;
}

@media screen and (min-width: 768px) {


    .results__wrapper--horizontal.results__wrapper {
        flex-direction: column;
    }

    .results__wrapper--horizontal .results__step:not(:last-child):after {
        display: none;
    }

    .results__wrapper--horizontal .results__block--steps::before {
        content: "";
        width: 50%;
        height: 2px;
        background: linear-gradient(90deg, rgba(0, 94, 184, 0.00) 0%, #005EB8 50%);
        position: absolute;
        left: 0;
        top: 30px;

    }

    .results__wrapper--horizontal .results__block--steps::after {
        content: "";
        width: 50%;
        height: 2px;
        background: linear-gradient(270deg, rgba(0, 94, 184, 0.00) 0%, #005EB8 50%);
        position: absolute;
        left: 50%;
        top: 30px;

    }

    .results__wrapper--horizontal .results__step:before {
        transform: translateX(-50%);
        left: 50%;
    }

    .results__wrapper--horizontal .results__step.results__step--with-icon:before {
        border: none;
        width: fit-content;
        height: auto;
        max-width: 60px;
        max-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        background: #fff;
    }

    .results__wrapper--horizontal .results__step {
        display: flex;
        flex-direction: column;
        padding-top: 84px;
        padding-left: 0;
        max-width: 320px;
        text-align: center;
    }

    .results__wrapper--horizontal .results__block--steps {
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .results__wrapper--horizontal .results__block:not(.results__block--steps) {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .block__title--mobile {
        display: block
    }

    .block__title--desktop {
        display: none;
    }

    .results__wrapper--horizontal .results__step.results__step--with-icon:before {
        border: none;
        width: fit-content;
        height: auto;
        max-width: 40px;
        max-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        margin-top: 0;
        background: #fff;
        transform: scale(0.67);
        top: -12px
    }

    .results__wrapper {
        flex-wrap: wrap;
    }

    .results__block--steps,
    .results__block {
        max-width: none;
        width: 100%;
    }

    .results__block h2 {
        font-size: 32px;
        line-height: 42px;
        /* 131.25% */
        margin-bottom: 24px;
    }

    .results__block p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
    }

    .results__block h3 {
        font-size: 32px;
        line-height: 40px;
        /* 125% */
        margin-bottom: 8px;
    }

    .results__block--steps p {
        font-size: 20px;
        line-height: 28px;

    }

    .results__step:not(:last-child) {
        padding-bottom: 40px;
    }

    .results__step {
        padding-left: 64px;
    }

    .results__step:before {
        width: 40px;
        height: 40px;
    }

    .results__step:not(:last-child):after {
        left: 19px;
    }
}