.landing-testimonials__wrapper {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.landing-testimonials__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 20px;
}

.landing-testimonials__subtitle {
  width: fit-content;
  color: #005EB8;
  background-color: #E9F4FF;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin: 0;
  margin-bottom: 12px;
}

.landing-testimonials__title {
  color: #101828;
  text-align: center;
  font-family: var(--font-heading-family);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
  letter-spacing: -1px;
}

.landing-testimonials__title * {
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.landing-testimonials__wrapper .landing-testimonials-swiper {
  padding-right: 20px;
}

.landing-testimonials-swiper:not(.swiper-initialized) {
  width: 100%;
  overflow: auto;
}

.landing-testimonials-swiper:not(.swiper-initialized) .swiper-wrapper {
  display: flex;
  gap: 10px;
}

.testimonial__image-group {
  display: flex;
  gap: 10px;
}

.image-group__item {
  width: 192px;
}

.image-group__picture {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.image-group__picture::before {
  content: '';
  display: block;
  padding-top: var(--ratio-percent);
}

.image-group__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.testimonials {
  display: flex;
  gap: 20px;

  margin-top: 40px;
}

.testimonials__item {
  flex: 0 1 calc(50% - 10px);
}

.swiper-slide.testimonial-slide {
  width: 393px;
  height: auto;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 0;
  height: 100%;
}

.testimonial__info {
  margin: 0 3.5px;
  border-radius: 20px;
  border: 1px solid rgba(49, 55, 65, 0.15);
  padding: 25px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial__stars {
  line-height: 0;
}

.testimonial__stars svg {
  width: 92px;
  height: 16px;
}

.testimonial__heading {
  color: #000;
  font-family: var(--font-accent-family);
  font-size: 28px;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 130%;

  margin: 0;
}

.testimonial__content {
  color: rgba(0, 0, 0, 0.70);
  font-family: var(--font-body-family);
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;

  margin: 0;
}

.testimonial__author-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial__author {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-body-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  margin: 0;
}
.testimonial__verified-badge {
  display: flex;
  align-items: center;
  gap: 4px;
}

.testimonial__verified-badge svg {
  width: 14px;
  height: 14px;
}

.testimonial__verified-text {
  color: #00A30B;
  font-family: var(--font-body-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.landing-testimonials__reviews-line {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 24px 0 0;
}

.landing-testimonials__reviews-line picture {
  line-height: 0;
}

.landing-testimonials__reviews-line-image {
  width: 140px;
  flex: 0 0 140px;
  height: auto;
}

.landing-testimonials__reviews-line-text {
  color: #0A090D;
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin: 0;
}

@media screen and (max-width: 749px) {

  .landing-testimonials__text-container {
    margin-bottom: 25px;
  }

  .landing-testimonials__subtitle {
    font-size: 18px;
  }

  .landing-testimonials__title {
    font-size: 26px;
    line-height: normal;
    letter-spacing: -0.8;
  }

  .swiper-slide.testimonial-slide {
    width: 267px;
  }

  .testimonial__image-group {
    gap: 6px;
  }

  .image-group__item {
    width: 130.5px;
  }

  .testimonial {
    gap: 25px;
  }

  .testimonial__info {
    margin: 0 2px;
    padding: 16px;
  }

  .testimonial__author,
  .testimonial__content {
    font-size: 14px;
  }

  .testimonial__heading {
    font-size: 26px;
  }
}
