.testimonial {
    border-radius: 80px;
    overflow: hidden;
    padding: 72px 68px 49px;
    position: relative;
}


.testimonial::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    z-index: 1;
    height: 100%;
    max-width: 1000px;
}

.testimonial__image--member {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 675px;
    min-width: 675px;
    height: 100%;
}

.testimonial__image--member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial__description,
.testimonial__name,
.testimonial__role {
    font-family: 'Raleway', sans-serif;
    font-variant-numeric: lining-nums proportional-nums;
    position: relative;
    z-index: 1;
    letter-spacing: 0;
}

.testimonial__icon {
    position: relative;
    z-index: 1;
    letter-spacing: 0;
}

.testimonial__description,
.testimonial__description p,
.testimonial__description li {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.testimonial__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.testimonial__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial__inner {
    max-width: 458px;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 57px;
}

.testimonial__name {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.testimonial__role,
.testimonial__role li,
.testimonial__role p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.testimonial__mobile-member {
    display: none;
}

.testimonial__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    max-width: 320px;
    height: 60px;
    padding: 0 60px;
    gap: 10px;
    margin-top: 40px;
    border-radius: 100px;
    border: 1px solid transparent;
    background: #005eb8;
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    letter-spacing: normal;
    transition: all .3s;
}

.testimonial__button:hover {
    border: 1px solid #004A91;
    background: #004A91;
}

@media screen and (max-width: 1199px) {
    .testimonial:before {
        max-width: 600px;
    }


    .testimonial__image--member {
        min-width: auto;
    }

    .testimonial {
        padding: 39px 30px;
    }
}

@media screen and (max-width: 990px) {
    .testimonial__inner {
        max-width: 350px;
        gap: 23px;
    }

    .testimonial__button {
        max-width: 100%;
        width: 100%;
        margin: 20px 20px 0 20px;
    }

    .testimonial:before {
        max-width: 350px;
    }

    .testimonial__name,
    .testimonial__description {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 620px) {
    .testimonial__desktop-member {
        display: none;
    }

    .testimonial__mobile-member {
        display: flex;
    }

    .testimonial {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        border-radius: 60px;
    }

    .testimonial__image--member {
        position: relative;
        right: auto;
        top: auto;
        max-height: 218px;
    }

    .testimonial__inner {
        max-width: 100%;
        flex-direction: column-reverse;
        padding: 0 30px 39px;
    }
}